@charset "utf-8";
.templetWrap {
  background: url(/common/img/bg_body.gif) repeat-x;
}
.wrap {
  width: 100%;
  min-width: 1160px;
}
.bgSub01 {
  background: url("/common/img/bg_body.gif") repeat-x 0 0;
}
.bgSub02 {
  background: url("/common/img/bg_body.gif") repeat-x 0 0;
}
#header {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 111px;
  padding-top: 3px;
  font-family: "NanumGothicWeb", "맑은 고딕", "Malgun Gothic", "굴림", Gulim,
    sans-serif;
  line-height: 18px;
  border-bottom: 1px solid #ececec;
  z-index: 11;
}
#header .inner {
  position: relative;
  width: 960px;
  height: 50%;
  margin: 0 auto;
  z-index: 5;
}
#header .inner .logo {
  position: absolute;
  left: 0;
  top: 36px;
}
#header .memberlink {
  position: absolute;
  left: 214px;
  top: 21px;
}
#header .memberlink li {
  float: left;
  height: 22px;
  margin-left: -1px;
  padding: 0 7px;
  border: #ccc solid 1px;
  font-size: 12px;
  background-color: #fff;
}
#header .memberlink li a {
  text-decoration: none;
}
#header .memberlink li:first-child {
  border: #1a623c solid 1px;
  color: #fff;
  background: url(../../images/header/btn_bg_login.gif) repeat-x;
}
#header .memberlink li span {
  color: #fff;
}
#header .toplink {
  position: absolute;
  right: 0;
  top: 20px;
}
#header .toplink > li {
  display: inline;
  padding: 0 0 0 6px;
}
.ie8 #header .toplink > li {
  background-position: 100% 0px;
}
#header .toplink > li:first-child {
  border-left: none;
}
#header .toplink > li a {
  display: inline-block;
  width: 65px;
  height: 22px;
  font-size: 13px;
  line-height: 21px;
  border-radius: 11px;
  background-color: #008485;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#header .toplink > li img {
  margin-top: -1px;
}
#header .sns-header {
  position: absolute;
  right: 75px;
  top: 20px; /*background:url('../img/line_v_gab.gif') no-repeat 0 6px;*/
  padding-left: 7px;
}
#header .sns-header li {
  float: left;
  margin-left: 5px;
}
#header .topsrch {
  position: absolute;
  right: 150px;
  top: 20px;
  width: 134px;
  height: 25px;
  padding: 2px 0 0 2px;
  background: url(../../images/header/logo2.png) no-repeat;
  z-index: 100;
}
#header .topsrch input {
  border: 0;
  vertical-align: top;
  margin-top: 2px;
}
#header .topsrch input[type="text"] {
  padding: 0;
  padding-left: 8px;
  border: none;
  background-color: transparent;
}
#header .inner h1 a {
  position: absolute;
  display: block;
  left: 0;
  top: 52px;
  width: 10%;
  height: 10%;
  background: url(../../images/header/hanaLiteLogo.png) no-repeat 0 0;
  font-size: 0;
  text-indent: -9999px;
  z-index: 100;
}
#gnb-area {
  position: relative;
  top: 40px;
  width: 100%;
  height: 42px;
}
#gnb-wrap {
  width: 960px;
  margin: 0 auto;
  z-index: 10010;
}
#gnb {
  margin: -29px 0 0 210px;
}
.ie #gnb {
  margin: -28px 0 0 210px;
}
/* 파생 분리 후 적용
#gnb > li {display:block; float:left}
*/
/* 임시 */
#gnb > li {
  display: inline-block;
  float: left;
  margin: 0 14px 0 0;
}
#gnb .depth1-link,
#gnb .depth2-wrap .depth2-link {
  font-family: "NanumGothicWeb", "맑은 고딕", "Malgun Gothic", "굴림", Gulim,
    sans-serif;
}
.ie #gnb > li {
  margin: 0 18px 0 0;
}
.ie #gnb .depth1-link {
  font-size: 17px;
}
.ie.ie8 #gnb > li {
  margin: 0 11px 0 0;
}
/**/
#gnb > li:last-child {
  margin-right: 0;
  text-align: right;
}

/* 파생 분리 후 적용
#gnb .gnb_01 {width:100px}
#gnb .gnb_02 {width:117px}
#gnb .gnb_03 {width:117px}
#gnb .gnb_04 {width:117px}
#gnb .gnb_05 {width:99px}
#gnb .gnb_06 {width:75px}
#gnb .gnb_07 {width:125px;text-align:right}
*/
#gnb .depth1-link {
  display: inline-block;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  font-family: "NanumGothicWeb", "맑은 고딕", "Malgun Gothic", "굴림", Gulim,
    sans-serif;
}
#gnb .depth1-link:hover,
#gnb .depth1-link.selected {
  border-bottom: 6px solid #00856a;
}
#gnb .depth2-wrap {
  overflow: visible;
  display: block;
  width: 100%;
  height: 0;
  display: none;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  font-size: 13px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
  z-index: 10010;
}

#gnb .depth2-wrap .subtitle {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px 14px;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #d9d9d9;
}

#gnb .depth2-wrap .subtitle a {
  color: #333333;
}

#gnb .depth2-wrap .subtitle a:hover {
  color: #008268;
}

#gnb .depth2-wrap.opened {
  height: auto;
  display: block;
}

#gnb .depth2-wrap .depth2-ul {
  position: relative;
  width: 960px;
  margin: 20px auto;
  background-image: url(/templets/main/img/MAIN/bg_dotline_sm.gif);
}
/* 
.trading_notice{
	top:234px !important;;
	left: 1px !important;
}
 */
#gnb .depth2-wrap .depth2-link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  margin-bottom: 5px;
}

#gnb .depth2-wrap .depth2-ul > li {
  /*float: left;
  width: 196px;
  display: inline-block;*/
  width: 190px;
  line-height: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

#gnb .depth4-ul {
  overflow: hidden;
  height: 0;
  display: none;
}

#gnb .depth4-ul > li {
  text-indent: 10px;
  background: url("/common/img/bu_4depth.gif") no-repeat 3px 8px;
}

#gnb .depth4-ul.opened {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 10px;
  z-index: 10;
  box-shadow: 2px 2px #eeeeee;
}

#gnb .depth4-indi:after {
  content: " +";
}
#gnb .depth4-indi.opened:after {
  content: " –";
}

#gnb .depth3-ul {
}

#gnb .depth3-ul > li {
  position: relative;
}

#gnb .banner-area {
  position: relative;
  width: 960px;
  margin: 0 auto;
  height: 155px;
  border-top: 1px solid #d9d9d9;
}

#gnb .quick-menus {
  display: inline-block;
  height: 100%;
  padding-left: 17px;
  padding-top: 17px;
  padding-right: 12px;
  position: relative;
}

#gnb .events {
  display: inline-block;
  height: 100%;
  padding-left: 17px;
  padding-top: 19px;
  position: relative;
}

#gnb .banner-title {
  font-weight: bold;
  color: #333333;
  letter-spacing: 0;
}

#gnb .quick-menus ul {
  padding-top: 14px;
  position: relative;
}
#gnb .quick-menus li {
  float: left;
  margin-right: 20px;
  width: 63px;
  height: 63px;
}
#gnb .quick-menus li a {
  display: block;
  width: 63px;
  padding-top: 72px;
  color: #333;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
}
#gnb .quick-menus li a:hover {
  text-decoration: none;
  color: #00856a;
}

#gnb .events ul {
  padding-top: 14px;
  position: relative;
}
#gnb .events li {
  float: left;
  margin-right: 10px;
  position: relative;
}
#gnb .gnb_04 .banner-area {
  height: 165px;
}
#gnb .gnb_04 .quick-menus {
  padding: 0;
}
