/*------------------------------------*\
    $RESET
\*------------------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html { min-height: 100%; overflow-y : scroll;}
body { height: 100%;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}

strong { font-weight: bold;}

sup { vertical-align: super; margin-left:2px;  font-size:10px;}

/*------------------------------------*\
    $Normalize  normalize.css v2.1.2 | MIT License | git.io/normalize
\*------------------------------------*/

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video { display: inline-block;}

/* Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) { display: none; height: 0;}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: "MalgunGothic","맑은 고딕","돋움","dotom",Tahoma,Geneva,sans-serif;
    line-height:22px;
    color:#555;
    letter-spacing: -1px;
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body { margin: 0;}


/**
 * Remove border when inside `a` element in IE 8/9.
 */

img { border: 0;}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
    text-indent:-9999px;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

embed[type="application/lssl-plugin"], embed[type="application/kings-idefense-plugin"],object#CertManX, object#XecureWeb,object#XWCDataPlugin,embed#KSCrc2{position:absolute;height:0;width:0;}

/*------------------------------------*\
    $LINK
\*------------------------------------*/
a { text-decoration: none; color: #555;}

a img { border: none; vertical-align:top;}

a:link, a:visited { text-decoration: none; color: #555;}

a:hover { text-decoration:underline;}

/* 테이블 캡션을 안보이게 한다. */
table caption {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none; /* 이 속성을 넣었을때 리더기에서 읽히는지...*/
}

/*------------------------------------*\
    $BASE
\*------------------------------------*/
body {
    font-size: 14px;
}

/*------------------------------------*\
    $UTIL
\*------------------------------------*/

/* clear & clear-fix */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear-fix { display: inline-block;}

html[xmlns] .clear-fix { display: block;}

* html .clear-fix { height: 1%;}

/* 접근성 (해당 요소의 텍스트를 화면에 보이지않게 한다. 리더기에서만 읽어준다.) */
.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 접근성 (해당 요소자체를 화면에 보이지않게 한다. 리더기에서만 읽어준다.) */
.hidden {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0;
  background: none !important;
  font-size: 0;
  line-height: 0;
}


/* 백그라운드가 이미지로 된 버튼을 만들어 준다. */
.imgBtn {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  text-indent: -9999px;
  text-transform: capitalize;
  background: none;
  cursor: pointer;
}


/* 백그라운드가 이미지로 되어있지만 value속성값을 버튼 텍스트로 사용한다. */
.txtBtn {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: capitalize;
  background: none;
  cursor: pointer;
}

/* align */
.tac { text-align:center !important; }
.tal { text-align:left !important;   }
.tar { text-align:right !important;  }
.vam { vertical-align:middle;}
.vm { vertical-align: middle !important;}
.vat { vertical-align: top !important;}
.vab { vertical-align: bottom !important;}
.vatb { vertical-align: text-bottom !important;}



/*블럭요소 가운데 정렬  - center 요소 안에 middle을 넣어야 한다. */
.center { display:table; margin:0 auto; text-align:center;}
.middle {display:table-cell; vertical-align:middle;}

/*display:none*/
.none {display: none;}
.hidden{visibility:hidden;}
.dpb {display:block;}
.dpib {display:inline-block;}

/* float */
.fl {float: left !important;}
.fr {float: right !important;}
.fn {float: none !important;}
.cb {clear: both !important;}
.cbn {clear: inherit !important;}


/* color */
.white {color:#ffffff;}
.orange {color:#ff3300;}
.red {color:#cd2214;}
.blue {color:#1c6fb1;}
.gray {color:#66667d;}
.sky {color:#4f84c1;}
.black {color:#030303;}
.darkgray {color:#333333}
.navy {color:#345483;}
.pink {color:#ed564a}
.brown {color:#985e34;}
.gold {color:#d6a100;}
.green {color:#017f66;}
.black {color:#000 !important;}

/* bold */
.b {font-weight:bold !important;}
.bb {font-weight: bolder; }

/*
.png24 {tmp:expression(setPng24(this));}
*/

/* position */
.pr {position:relative !important;}
.pa {position:absolute !important;}

/* opacity */
.opacity3 {opacity:0.3; }
.opacity5 {opacity:0.5; }
.opacity7 {opacity:0.7; }
.opacity9 {opacity:0.9; }

/* line-height */
.lhn { line-height:normal}
.lh18 {line-height: 10px !important;}
.lh15 {line-height: 15px !important;}
.lh18 {line-height: 18px !important;}
.lh20 {line-height: 20px !important;}
.lh26 {line-height: 26px !important;}
.lh25 {line-height: 25px !important;}
.lh30 {line-height: 30px !important;}
.lh35 {line-height: 35px !important;}
.lh40 {line-height: 40px !important;}
.lh45 {line-height: 45px !important;}
.lh50 {line-height: 50px !important;}
.lh55 {line-height: 55px !important;}
.lh60 {line-height: 60px !important;}
.lh65 {line-height: 65px !important;}
.lh70 {line-height: 70px !important;}
.lh75 {line-height: 75px !important;}



/* font-size */
.f11 {font-size: 11px !important;}
.f12 {font-size: 12px !important;}
.f13 {font-size: 13px !important;}
.f14 {font-size: 14px !important;}
.f15 {font-size: 15px !important;}
.f16 {font-size: 16px !important;}
.f18 {font-size: 18px !important;}
.f20 {font-size: 20px !important;}
.f22 {font-size: 22px !important;}
.f24 {font-size: 24px !important;}
.f26 {font-size: 26px !important;}
.f28 {font-size: 28px !important;}
.f55 {font-size: 55px !important;}

/* font-weight */
.fb{font-weight:bold !important;}
.fwn{font-weight:normal !important;}

/* margin */

.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}

.mb30 {margin-bottom: 30px !important; }



.pl90 {padding-left:90px !important;}


/*width*/

.w260 { width:260px !important; }

.w700 { width:700px !important; }


/* border */
.bon{border:none !important;}
.bd1 { border:1px solid #CCC !important}
.brw2 {border-right-width: 2px !important;}
.bb0{border-bottom:none !important;}

/* text */
.txtdec {text-decoration:line-through;}

/* letter-spacing */
.ls-1 {letter-spacing: -1px;}
.ls-1_5 {letter-spacing: -1.5px;}
.ls-2 {letter-spacing: -2px;}
.ls-2_2 {letter-spacing: -2.2px;}

/* overflow */
.ofv {overflow: visible !important;}
.ofh {overflow: hidden !important;}

/* scroll */
.sc{overflow:auto;}
.sc-w{overflow-x:auto;}
.sc-ys {overflow-y:scroll; }


/* DL로 잡은 텍스트 레이아웃 */
.dl-layout { display: block; width: 100%;}

.dl-layout.ia {
    /*인풋이 들어갈경우*/
}

.dl-layout:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.dl-layout > dt { text-align: center;}
.dl-layout.dt-tal > dt { text-align: left;}
.dl-layout > dd{ text-align: right;}
.dl-layout.dd-tal > dd{ text-align: left !important;}

.dl-layout > dt,
.dl-layout > dd {
    float: left;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dl-layout.ia > dt,
.dl-layout.ia > dd {

}

.dl-layout > dt.first-line,
.dl-layout > dd.first-line { border-top: none;}

.dl-layout.four > dt,
.dl-layout.four > dd { width: 12.5%;}

.dl-layout.three > dt,
.dl-layout.three > dd { width: 16.6%;}

.dl-layout.two > dt,
.dl-layout.two > dd { width: 25%;}

.dl-layout.one > dt,
.dl-layout.one > dd { width: 50%;}

.dl-layout.one.big-dt > dt { width: 60%;}
.dl-layout.one.big-dt > dd { width: 40%;}

.dl-layout.one.big-dd > dt { width: 40%;}
.dl-layout.one.big-dd > dd { width: 60%;}

.dl-layout.tal > dt { text-align: left;}
.dl-layout.tal > dd { text-align: left;}

.wbbw {white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: pre-wrap;word-wrap: break-word; /* IE 5.5+ */}
.blt0 {border-top: 0px !important;}
ul.ui-autocomplete{background-color: #FAFAFA;}
ul.ui-autocomplete li.ui-menu-item{border-bottom: 1px gray dotted; }

/* 테이블고정 */
.tb-lay-fix {table-layout: fixed;}

/* 텍스트말줄임 */
.over_ellipsis {white-space: nowrap;}
.over_ellipsis > span{display: block;width: 100%;text-overflow: ellipsis;overflow: hidden;word-break: normal;}

.ellipsis {white-space:nowrap; width:100%; overflow:hidden; text-overflow:ellipsis}

.clearfix {*zoom:1}
.clearfix:after {content:''; clear:both; display:block}

.bold {font-weight:bold;}

/* 테이블 스타일 */
.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}
.table-default.type02 table td{vertical-align:top;padding:7px 10px 10px;line-height:20px;}
.table-default.type02 .list-3dep > li{line-height:20px;}
.table-default.type02 .list-3dep > li + li{margin-top:3px;}

/* 약관  글자 */
.yakgwan_wrap{width:100%;overflow:hidden;word-break:break-word;}

/* position static 추가 */
.pstatic{position:static !important;}

/* margin 0 auto 추가*/
.mauto{margin:0 auto;}

