/* .ob-right {position:relative; background:url(../img/OB/bg_sm_right.gif) no-repeat; height:871px; width:260px; padding:25px;} */
.ob-right {
  background: #555;
  position: relative;
  /* flex-direction: column; */
  background: url(../img/OB/bg_sm_right_1208.gif) no-repeat;
  height: 260px;
  width: 760px;
  padding: 25px;
}
.ob-right .sm-info1 {
  position: absolute;
  flex-direction: column;
  top: 26px;
  left: 26px;
  width: 210px;
}
.ob-right .sm-info1 ul {
  margin-top: 5px;
}
.ob-right .sm-info1 ul li {
  position: relative;
}
.ob-right .sm-info1 ul li img {
  position: absolute;
  top: 0;
  right: 0;
}
.ob-right .sm-info1 ul li p {
  height: 65px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  width: 130px;
  word-wrap: break-word;
  overflow: hidden;
}
.ob-right .sm-info1 ul li > ul {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  margin-top: 20px;
}
.ob-right .sm-info1 ul li > ul li {
  position: relative;
  background: url(../img/common/bu_dot.gif) no-repeat 0 12px;
  padding-left: 8px;
  color: #333;
  height: 25px;
}
.ob-right .sm-info1 ul li > ul li span {
  position: absolute;
  right: 0;
  color: #555;
}
.ob-right .sm-info2 {
  position: absolute;
  top: 265px;
  left: 26px;
  font-size: 13px;
  padding-top: 25px;
}
.ob-right .sm-info2 > ul li {
  background: url(../img/common/bu_dot.gif) no-repeat 0 12px;
  color: #b9b9b9;
  padding-left: 8px;
  position: relative;
  width: 205px;
  height: 25px;
}
.ob-right .sm-info2 > ul li span {
  position: absolute;
  top: 1px;
  right: 0;
  letter-spacing: 0;
  color: #fff;
  text-align: right;
}
.ob-right .sm-info3 {
  position: absolute;
  top: 396px;
  left: 26px;
  width: 210px;
  padding-top: 38px;
  line-height: 20px;
}
.ob-right .sm-info3 dt {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.ob-right .sm-info3 dd {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 25px;
  font-size: 13px;
}
.ob-right .sm-info3 dd ul {
  margin-top: 20px;
}
.ob-right .sm-info3 dd ul li {
  background: url(../img/common/bu_dot.gif) no-repeat 0 14px;
  padding-left: 8px;
  line-height: 28px;
  color: #333;
}
.ob-right .sm-info3 dd ul li a {
  color: inherit;
}
.ob-right .sm-info3 dd ul li.on {
  font-weight: bold;
  text-decoration: underline;
}
.ob-right .sm-info3 dd ul li.on span {
  background: url(../img/OB/icon_on.gif) no-repeat;
  width: 24px;
  height: 15px;
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
}

.sm-list {
  padding: 37px 30px 0 0;
}
.sm-list h4 {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #313131;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}
.sm-list .more {
  position: absolute;
  right: 0;
  top: 6px;
  width: 16px;
  height: 16px;
  background: url(../img/common/icon_more.png) no-repeat 0 0;
}
.sm-list li .date {
  position: absolute;
  top: 3px;
  right: 0;
  letter-spacing: 0;
}
.sm-list .asset {
  border-bottom: 1px solid #dfdfdf;
  display: inline-block;
  background: #fafafa;
}
.sm-list .asset .img {
  vertical-align: middle;
  width: 280px;
}
.sm-list .graph {
  width: 336px;
  box-sizing: border-box;
  border-right: 1px solid #dfdfdf;
}
.sm-list .graph_img {
  width: 205px;
  margin: 0 auto;
}
.sm-list .graph_explain {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  line-height: 17px;
  padding: 13px 0 18px 30px;
}
.sm-list .graph_explain li {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  letter-spacing: -0.3px;
}
.sm-list .graph_txt {
  width: 334px;
  padding: 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.sm-list .graph_txt div.total {
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.sm-list .graph_txt div.total span strong {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  vertical-align: middle;
  display: inline-block;
}
.sm-list .graph_txt ul li {
  background: url(../img/common/bu_dot_2dep.gif) no-repeat 0 10px;
  padding-left: 12px;
}
.sm-list .graph_txt ul li span {
  float: right;
}
.sm-list .graph_txt ul li span strong {
  letter-spacing: 0;
  margin-right: 5px;
}
.sm-list .cal {
  background: url(../img/common/bg_sm_cal.gif) no-repeat;
  height: 145px;
  position: relative;
}
.sm-list .cal div.today {
  position: absolute;
  left: 18px;
  top: 0;
  padding: 0 10px 0 10px;
  width: 132px;
}
.sm-list .cal div.memo {
  position: absolute;
  left: 156px;
  top: 0;
  padding: 0 10px 0 10px;
  width: 162px;
}
.sm-list .cal div.acco {
  position: absolute;
  left: 324px;
  top: 0;
  padding: 0 10px 0 10px;
  width: 162px;
}
.sm-list .cal div.fina {
  position: absolute;
  left: 492px;
  top: 0;
  padding: 0 10px 0 10px;
  width: 162px;
}
.sm-list .cal dt {
  position: relative;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0;
  height: 25px;
  line-height: 26px;
  padding-left: 17px;
}
.sm-list .cal dt a {
  margin-top: -2px;
}
.sm-list .cal dd {
  padding: 10px 0px 0 0;
  margin-right: 7px;
  text-align: center;
}
.sm-list .cal dd > ul li {
  background: url(../img/common/bu_check3.gif) no-repeat 0 7px;
  padding-left: 17px;
  margin-left: 5px;
  font-size: 13px;
  text-align: left;
  word-wrap: break-word;
}
.sm-list .cal div.today dd {
  color: #333;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: bold;
}
