@charset "utf-8";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*------------------------------------*\
    $RESET
\*------------------------------------*/

html,
body,
div,
span,
h3,
h4,
p,
a,
em,
img,
dl,
dt,
dd,
ul,
li,
form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
}
ol,
ul {
  list-style: none;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: "MalgunGothic", "맑은 고딕", "돋움", "dotom", Tahoma, Geneva,
    sans-serif;
  line-height: 22px;
  color: #555;
  letter-spacing: -1px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/*------------------------------------*\
    $LINK
\*------------------------------------*/

a {
  text-decoration: none;
  color: #555;
}
a img {
  border: none;
  vertical-align: top;
}
a:link,
a:visited {
  text-decoration: none;
  color: #555;
}
a:hover {
  text-decoration: underline;
}

/*------------------------------------*\
    $BASE
\*------------------------------------*/
body {
  font-size: 14px;
}

/* color */
.white {
  color: #ffffff;
}
.orange {
  color: #ff3300;
}
.red {
  color: #cd2214;
}
.blue {
  color: #1c6fb1;
}
.gray {
  color: #66667d;
}
.sky {
  color: #4f84c1;
}
.black {
  color: #030303;
}
.darkgray {
  color: #333333;
}
.navy {
  color: #345483;
}
.pink {
  color: #ed564a;
}
.brown {
  color: #985e34;
}
.gold {
  color: #d6a100;
}
.green {
  color: #017f66;
}
.black {
  color: #000 !important;
}

/* float */
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

/* align */
.tac {
  text-align: center !important;
}

/* position */
.pr {
  position: relative !important;
}

/* padding */
.pr13 {
  padding-right: 13px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pl2 {
  padding-left: 5px !important;
}
.pl13 {
  padding-left: 13px !important;
}

/*height*/
.h150 {
  height: 150px !important;
}
.h255 {
  height: 255px !important;
}
.h330 {
  height: 330px !important;
}

/*width*/
.w50p {
  width: 50% !important;
}
.w50 {
  width: 50px !important;
}
.w120 {
  width: 120px !important;
}
.w180 {
  width: 180px !important;
}
.w190 {
  width: 190px !important;
}
.w260 {
  width: 260px !important;
}
.w306 {
  width: 306px !important;
}
.w633 {
  width: 633px !important;
}

/* background */
.bgg {
  background: #f8f8f8 !important;
}
.bgn {
  background: none !important;
}

/* border */
.bon {
  border: none !important;
}

/* margin */
.mb50 {
  margin-bottom: 50px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr21 {
  margin-right: 21px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml21 {
  margin-left: 21px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt30 {
  margin-top: 30px !important;
}

/* clear */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
