
.inlineblock { display: inline-block; }
.displayinline, .inline li { display:inline; }
.bgnone { background:none !important; }
.vline { display:inline; width:1px; background:url(../img/common/bu_bar.gif) no-repeat 0 50%}
.lh22 { line-height:22px}
.lh20 { line-height:20px}
.lhm {line-height: normal !important;}

.box-instruction2 { position:relative; border-top:2px solid #333; }
.box-instruction2 h4 { padding:11px 0 12px 35px; background:url(../img/common/bu_help.gif) no-repeat 10px 15px; font-size:16px; color:#333; font-weight:bold; }
.box-instruction2 h4.bu-red { background:url(../img/common/bu_help2.gif) no-repeat 10px 15px }
.box-instruction2 > ul { padding:0 10px; }
.box-instruction2 li { padding-left:9px; background:url(../img/common/bu_dot.gif) no-repeat 0 12px; color:#666; }
.box-instruction2 li.emp { margin-top:10px; padding:10px 0 0; border-top:1px solid #ebebeb; background:none; font-weight:bold; color:#333; }
.box-instruction2 ul li ul { margin:2px 0 4px 0; font-size:13px; line-height:18px}
.box-instruction2 ul li ul li { background:url(../img/common/bu_line.gif) no-repeat 1px 10px;}
.box-instruction2 .btn-tog { position:relative; height:33px; margin:-32px 0 14px; border-bottom:1px solid #e7e7e7; }
.box-instruction2 .btn-tog-c { position:absolute; top:0; right:10px; width:21px; height:19px; background:url(../img/common/bu_arrow_updown.gif) no-repeat 0 0; }
.box-instruction2 .btn-tog-o { position:absolute; top:0; right:10px; width:21px; height:19px; background:url(../img/common/bu_arrow_updown.gif) no-repeat 0 -19px; }
.box-instruction2 .btn-tog-c a, .box-instruction2 .btn-tog-o a { display:inline-block; width:21px; height:19px; }
.box-instruction2 .btn-tog-c span, .box-instruction2 .btn-tog-o span { display:none; }
.box-instruction2.tlist li { padding-left:18px; margin-bottom:20px; background:url(../img/common/bu_arrow_3dep.gif) no-repeat 7px 9px; color:#333; font-size:14px; font-weight:bold; letter-spacing:-1px; }
.box-instruction2.tlist li li { padding-left:0; margin-bottom:5px; background:none; font-weight:normal; color:#555; }

.box-img { background:#fafafa; border:1px solid #dbdbdb; text-align:center; }
.imgtext { position:absolute; top:-10000px; left:-10000px; }



td.bb2p{border-bottom-width: 2px  !important;}

.btn {display:inline-block; font-size:12px;  font-weight:normal;text-align:center;vertical-align:middle;white-space:nowrap;cursor:pointer;border:1px solid transparent;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;  -ms-user-select:none;-o-user-select:none;user-select:none}

.btn.lg {font-size:16px;font-weight:bold;height:62px;padding:0 20px 4px 20px;}
.btn.pb {font-size:12px;height:34px;padding:0 18px 4px;}
.btn.full { width:100%; height:32px; padding:0 0 4px; border-radius:3px; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {pointer-events:none;cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
.btn-w { background:none !important; margin:0 !important; text-align:left !important; }

.btn-default.on{color: #008268;}
.btn-default {color:#555;background-color:#fff;border-color:#b1b1b1}

.btn-default {background-image:none}
