/* sub main */
.sm-visual {height:371px; width:680px;  background:url(/templets/main/img/WT/bg_sm_visual.gif) no-repeat;}
.sm-visual h3{font-size:26px; margin-bottom:14px;}
.sm-visual h3 span{color:#03838e; font-size:36px; display:block; margin-top:21px;}
.sm-visual p{font-family:나눔고딕, NanumGothic, ng, 'NanumGothicWeb', 굴림, Gulim, sans-serif; letter-spacing:0;}
.sm-visual ul li {text-align:center;}
.sm-visual ul li span{display:block; font-weight:bold;}
.sm-visual ul li span a{color:#333;}
.sm-box h4{height:39px;background:url(/templets/main/img/WT/bg_sm_boxtit.gif) no-repeat; color:#fff; font-weight:bold; font-size:16px; padding-left:19px; padding-top:7px;}
.sm-box ul{border:1px solid #dbdbdb; border-top: none !important;}
.sm-box ul li{background:url(../img/CS/img_dotline.gif) repeat-x bottom; padding:15px 20px; position:relative;}
.sm-box dt{font-weight:bold; font-size:15px; margin-bottom:6px; color:#333;}
.sm-box dd{line-height:150%;}
.sm-box dd .txtpoint{font-size:18px; color:#008268; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; display:inline-block; font-weight:bold;}
.sm-box ul li .img1{ position:absolute; right:15px; top:35px; background:url(/templets/main/img/WT/img_sm01.gif) no-repeat; width:62px; height:62px;}
.sm-box ul li .img2{ position:absolute; right:15px; top:35px; background:url(/templets/main/img/WT/img_sm02.gif) no-repeat; width:62px; height:62px;}
.sm-box ul li .img3{ position:absolute; right:15px; top:17px; background:url(/templets/main/img/WT/img_sm03.gif) no-repeat; width:62px; height:62px;}
.sm-box ul li .img4{ position:absolute; right:15px; top:35px; background:url(/templets/main/img/WT/img_sm04.gif) no-repeat; width:62px; height:62px;}
.sm-box ul li .img5{ position:absolute; right:15px; top:35px; background:url(/templets/main/img/WT/img_sm05.gif) no-repeat; width:62px; height:62px;}
.sm-box ul li .img6{ position:absolute; right:15px; top:17px; background:url(/templets/main/img/WT/img_sm06.gif) no-repeat; width:62px; height:62px;}
.sm-down ul li{ border-right:1px solid #e6e6e6; line-height:130%;}
.sm-down ul li > ul li{border:none !important; margin-top:7px;}
.sm-down h4{color:#333; font-weight:bold; font-size:18px; border-bottom:2px solid #313131;  padding-bottom:10px; margin-bottom:12px;}
.sm-list h4{color:#333; font-weight:bold; font-size:18px; border-bottom:2px solid #313131; width:100%; padding-bottom:10px; margin-bottom:12px; position:relative;}
.sm-list .more{ position:absolute; right:0; top:6px; width:16px; height:16px; background:url(../img/common/icon_more.gif) no-repeat 0 0; }
.sm-list li { position:relative; padding:2px 75px 2px 9px; background:url(../img/common/bu_dot.gif) no-repeat 0 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.sm-list li .date { position:absolute; top:3px; right:0; letter-spacing:0; }
.sm-info dt{ border:1px solid #cdcdcd; height:39px; background:url(/templets/main/img/WT/bg_sm_infotit.gif) no-repeat bottom; padding:6px 12px; font-weight:bold; font-size:15px; color:#333;}
.sm-info dd{ border-left:1px solid #ddd; border-right:1px solid #ddd; padding:5px 16px 10px;}
.sm-info dd.last{ border-bottom:1px solid #ddd;}
.sm-info div.tit {font-size:16px; font-weight:bold; color:#333; border-bottom:1px solid #dddddd; padding-bottom:5px; letter-spacing:0; line-height:170%; margin-top:-10px;}
.sm-info div.tit strong{ font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#e00400;}
.sm-info div.tit em{font-size:20px; font-weight:bold; margin-right:3px;}
.sm-info div.tit span{float:right;}
.sm-info div.table table{width:100%;}
.sm-info div.table table tr{background: url(/templets/main/img/WT/img_sm_dotline.gif) repeat-x bottom;}
.sm-info div.table table th{text-align:left; color:#333; padding:6px 0 9px;line-height:140%;}
.sm-info div.table table td{text-align:right; letter-spacing:0; }
.arrwWrap {position: relative;min-width: 50px;text-align: right;}
.arrwImg {position: absolute;right: 47px;top: 50%;margin-top: -5px;}

/* 지수정보 */
.indexgrp li { padding:5px 0 6px; background:url(/templets/main/img/WT/img_sm_dotline.gif) repeat-x bottom }
.indexgrp li:last-child { background:none }
.indexgrp li.on { background:none; border-bottom:1px solid #dddddd; border-top:1px solid #dddddd; margin-top:-1px }
.indexgrp li.on:first-child { border-top:none; border-bottom:1px solid #dddddd }
.indexgrp li.on:last-child { border-bottom:none; border-top:1px solid #dddddd; margin-top:-1px }
.indexgrp li span { display:inline-block; letter-spacing:normal }
.indexgrp .index-tit {width:50%;color:#333}/*20190416 수정*/
.indexgrp.ls-1 .index-tit{ letter-spacing: -1px;}
.indexgrp .index-sum {font-size:12px;width:23%; text-align:right}/*20190416 수정*/
.indexgrp .index-arr { width:8%; text-align:right; color:#e00400 !important;}/*20190416 수정*/
.indexgrp .index-dec { width:12%; text-align:right; color:#005de4 !important;}*20190416 수정*/
.indexgrp .index-keep { width:12%; height:15px; background:url(../img/common/icon_keep.gif) no-repeat 25px 10px }
.indexgrp .index-pro { width:18%; text-align:right;font-size:12px;}/*20190416 수정*/

.indexgrp .index-arr{height:15px; background:url(../img/common/icon_keep.gif) no-repeat 16px 10px }
.indexgrp .goUp .index-sum {color: #e00400 !important;}
.indexgrp .goDown .index-sum {color: #005de4 !important;}
.indexgrp .goUp .index-arr {color: #e00400 !important;background: none;}
.indexgrp .goDown .index-arr {color: #005de4 !important;background: none;}

.indexgrp.type02 .goUp .index-pro{color: #e00400 !important;}
.indexgrp.type02 .goDown .index-pro {color: #005de4 !important;}

.indexgrp li.on .index-tit { display:block; width:auto; margin-bottom:2px; font-size:16px; font-weight:bold; color:#333;}
.indexgrp li.on .index-sum { width:50%; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold}
.indexgrp li.on .index-inc { width:25%; font-size:20px; color:#e00400 !important;}
.indexgrp li.on .index-dec { width:25%; font-size:20px; color:#005de4 !important;}
.indexgrp li.on .index-keep { width:25%; height:20px; background:url(../img/common/icon_keep_on.gif) no-repeat 10px 12px }
.indexgrp li.on .index-pro { width:25%; font-size:16px; font-weight:bold; color:#333;}
.indexgrp li a { display:block}

/* 24시간 고객문의대응 */
.cs-desk { height:90px; margin:5px; background:url(/templets/main/img/WT/img_cs_desk.gif) no-repeat; padding:5px 0 0 105px }
.cs-desk span { display:block}
.cs-desk .desk-tit { font-size:18px; color:#333; font-weight:600; margin-bottom:5px}
.cs-desk .desk-tel li { display:inline-block; margin-right:40px; background:url(../img/common/bu_dot_2dep.gif) no-repeat 0 10px; padding-left:10px }

/* WTS 이용가이드 */
.guide-wts { width:100%; border-top:2px solid #333}
.guide-wts > ul > li {border-bottom:1px solid #CCC}
.guide-wts > ul > li:last-child {border-bottom:0 !important}
.guide-wts ul.bold > li { padding:20px 10px; border-bottom:1px solid #CCC; font-weight:bold}
.guide-wts ul li span {margin-right:16px; padding-top:7px; display:inline-block; width:35px; height:35px; background:url(../img/common/bu_bg_num.gif) no-repeat 0 0; font-family:Arial; font-size:16px; font-weight:bold; color:#fff; text-align:center; letter-spacing:0;}
.guide-wts ul li img {display:block; margin:20px auto }
.guide-wts ul li .list-dot { margin-left:40px; padding-left:10px; font-weight:normal; background:url(../img/common/bu_dot_3dep.gif) no-repeat 0 11px}
.guide-wts ul li .list-dot img { margin:0 5px; text-align:left; display:inline; vertical-align:middle }
.guide-wts .explain li { padding:4px 0; border-bottom:0 !important}
.guide-wts .explain li span { display:inline-block; width:22px; height:22px; margin:0 7px 0 50px; padding:0 2px 0 0; font-size:13px; background:url(/templets/main/img/WT/bg_num_black.gif) no-repeat; text-align:center }
.guide-wts .explain li p { padding-left:79px; font-weight:normal}

/* 종목상담게시판 */
.stockConsult .btn.sm.myBtn {background-image: url('/templets/smartht/img/sprite_hts.png'); background-position: -4px -2px; width: 30px;}
.stockConsult .btn.sm.allBtn {background-image: url('/templets/smartht/img/sprite_hts.png'); background-position: -176px -35px; width: 30px;}
.stockConsult .bbs-reply-con {padding: 8px 0;}
/* .stockConsult-Tbl .statis{line-height:16px; font-size : 16px; font-weight: bold; text-align: center;} */
.stockConsult .stockConsult-Tbl .statis{font-weight: bold;}
.stockConsult .stockConsult-Tbl .statis.statisB{color : #ED3A23;}
.stockConsult .stockConsult-Tbl .statis.statisN{color : #333;}
.stockConsult .stockConsult-Tbl .statis.statisS{color : #2D5FE0;}
.stockConsult .stockConsult-Tbl .statis.stockName{color : #359b9d;}
.stockConsult .stockConsult-Tbl .mentosImgB{padding-left:15px; background-image:url('/templets/smartht/img/ico_b_hts.png'); background-repeat: no-repeat; background-position-y: 4px;}
.stockConsult .stockConsult-Tbl .mentosImgM{padding-left:15px; background-image:url('/templets/smartht/img/ico_m_hts.png'); background-repeat: no-repeat; background-position-y: 4px;}

.stockConsult .counsel-reply .mentosImgB{padding-left:15px; background-image:url('/templets/smartht/img/ico_b_hts.png'); background-repeat: no-repeat; background-position-y: 5px;}
.stockConsult .counsel-reply .mentosImgM{padding-left:15px; background-image:url('/templets/smartht/img/ico_m_hts.png'); background-repeat: no-repeat; background-position-y: 5px;}
.stockConsult .counsel-reply .mentosImgB span{visibility: hidden; font-size: 0;}
.stockConsult .counsel-reply .mentosImgM span{visibility: hidden; font-size: 0;}

.stockConsult .counsel-reply .sbhImgS{float: left; width:42px; height:42px; background-image:url('/templets/smartht/img/sprite_hts.png'); background-position:-44px -168px; margin-top: -4px; margin-right: -5px;}
.stockConsult .counsel-reply .sbhImgB{float: left; width:42px; height:42px; background-image:url('/templets/smartht/img/sprite_hts.png'); background-position:-89px -168px; margin-top: -4px; margin-right: -5px;}
.stockConsult .counsel-reply .sbhImgN{float: left; width:42px; height:42px; background-image:url('/templets/smartht/img/sprite_hts.png'); background-position:0px -166px; margin-top: -6px; margin-right: -5px;}

.stockConsult .bbs-reply {padding: 0 20px;}
.stockConsult .bbs-default-view .viewcon {padding: 10px; clear: left;}
.stockConsult .bbs-default-view .viewinfo.seconds {width: 100%; float: left;}
.stockConsult .counsel-reply .counsel-reply-note {padding: 10px; margin: 5px 0; border: 1px solid #e3e3e3; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #efefef;}
.stockConsult .counsel-reply .bbs-reply-contact {padding: 5px 5px 0 0; margin-top: 5px; border-top: 1px solid #e3e3e3; text-align: right;}
.stockConsult .counsel-reply .bbs-reply-contact .contact {display: inline-block; padding-right: 10px; margin-right: 5px; background: url(../img/common/bu_bar.gif) no-repeat right 5px;}
.stockConsult .counsel-reply .counsel-reply-con .date {text-align: right; color: #777;}
.stockConsult .counsel-reply .bbs-reply-tit .viewinfo-r {position: absolute; right: 10px; top: 10px; font-size: 14px; color: #777; line-height: 1.25em;}

.stockConsult .counsel-reply .bbs-reply-tit {position: relative; padding: 7px 0 7px; border-top: 1px solid #999;}
.stockConsult .counsel-reply .bbs-reply-tit.first {border-top: 0;}

.stockConsult .counsel-reply span.article{background-image:url('/templets/smartht/img/sprite_hts.png'); background-position:0px -206px; padding-left:14px;}


.stockConsult .counsel-table.table-default table th, .counsel-table.table-default table td {border-color: #e6e6e6;}
.stockConsult .dl-layout.m-counsel-box {border-bottom-color: #e6e6e6;}

.stockConsult div.statis {width: 100%; padding: 5px 39px 5px 10px; margin: 0; position: relative;}
.stockConsult div.statis >ul {width: 100%; height: 30px; list-style-type: none; position: relative;}
.stockConsult div.statis > ul > li.B_li {width: 32%; left: 0 !important;}
.stockConsult div.statis > ul > li.N_li {width: 32%; left: 50% !important; margin-left: -16.5%;}
.stockConsult div.statis > ul > li.S_li {width: 32%; right: 1% !important;}
.stockConsult div.statis > ul > li {position: absolute; height: 100%; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cecece; text-align: center;}
.stockConsult div.statis > ul > li > .statis_data{padding: 3px 10px; font-size: 16px; color: #333; background-color: #fff; -webkit-border-radius:0px 3px 3px 0px; -moz-border-radius:0px 3px 3px 0px; border-radius:0px 3px 3px 0px;}
.stockConsult div.statis > ul > li > .statis_txtB{padding: 3px 10px; border-right: 1px dotted #d0d0d0; font-size: 16px; color: #ed3a23; background-color: #f8f8f8; -webkit-border-radius:3px 0px 0px 3px; -moz-border-radius:3px 0px 0px 3px; border-radius:3px 0px 0px 3px;}
.stockConsult div.statis > ul > li > .statis_txtN{padding: 3px 10px; border-right: 1px dotted #d0d0d0; font-size: 16px; color: #888888; background-color: #f8f8f8;-webkit-border-radius:3px 0px 0px 3px;-moz-border-radius:3px 0px 0px 3px;border-radius:3px 0px 0px 3px;}
.stockConsult div.statis > ul > li > .statis_txtS{padding: 3px 10px; border-right: 1px dotted #d0d0d0;font-size: 16px; color: #0675b5; background-color: #f8f8f8; -webkit-border-radius:3px 0px 0px 3px; -moz-border-radius:3px 0px 0px 3px; border-radius:3px 0px 0px 3px;}
.stockConsult div.infoBtn {width: 29px; position: absolute; right: 10px; top: 5px;}
.stockConsult div.infoBtn > button {width: 29px; height: 30px; font-size: 16px; border: 1px solid #cecece; background-color: #fff; box-shadow: inset 0px -2px 0px 0px #eee; color: #555; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-bottom: 3px;}


.ad-tv-slide {width:960px; overflow:hidden; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding:15px 0 15px;}
.ad-tv-slide ul {margin-left:-20px;}
.ad-tv-slide ul li{float:left;  width:16%; height:72px; padding-left: 5%;}
.ad-tv-slide ul li a {position:relative;width:103px;height:72px; display:inline-block;}
.ad-tv-slide ul li a.on div{position:absolute; top:0px; left:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border:5px solid #15b3a0; overflow:hidden; display:inline-block;width:103px;height:72px; vertical-align:middle; }
.ad-tv-slide ul li a img{width: 103px; height: 72px;}
.ad-tv-txt{float:left; width:441px; height:305px; margin-bottom:40px;}
.ad-tv-txt div.tit{font-weight:bold; font-size:18px; margin-bottom:11px;}
.ad-tv-txt div.con {border:1px solid #e5e5e5; background:#fafafa; padding:15px; width:441px; height:191px; overflow-y:scroll; }
.ad-tv-txt div.con p {display: none;}
.ad-tv-txt div.con p.active {display: inline;}
.ad-tv-vod {float:left; width:499px; height:305px; margin-bottom:40px; margin-right:20px;}
.ad-tv-vod>iframe {width: 499px; height: 305px;}

.makeAccount {overflow: hidden; margin-top: 20px;}
.makeAccount li {float: left; width: 25%; text-align: center; padding: 0 5px;}
.makeAccount li button {width: 100%;}

.wt_example_150525 {background: url(/templets/main/img/WT/wt_example_150625_0.gif) 0 0 no-repeat; overflow: hidden; border-bottom: 1px solid #d1d1d1;}
.wt_example_150525 table {width: 610px; float: right;}


/*------------------------------------*\
    201802 해외주식 부분 개편
\*------------------------------------*/

/*------------------------------------*\
    해외주식파생 메인
\*------------------------------------*/
.wt-submenu {width: 100%; height:267px; border-top: 2px solid #333; background:url(/templets/main/img/WT/wt_submain_icon.jpg?v=210127) no-repeat 0 0;}
.wt-submenu li {font-weight: bold; font-size: 15px; color: #333;}
.wt-submenuT { width: 100%; height: 130px; overflow: hidden;}
.wt-submenuT li {float:left; text-align: center; width: 160px}
.wt-submenuT li > a, .wt-submenuB li > a, .wt-submenuT li > span, .wt-submenuB li > span{display:block;padding-top:98px}
.wt-submenuB {width: 100%; height: 130px; overflow: hidden;}
.wt-submenuB li {float:left; text-align:center; width: 160px}
.wt-box {width: 406px; background:url(/templets/main/img/WT/wt_submain_icon02_07.jpg) no-repeat 0 100px;}
.wt-box h4{height:40px;background:url(/templets/main/img/WT/bg_wt_boxtit1.gif) no-repeat; color:#fff; font-weight:bold; font-size:16px; padding-left:19px; padding-top:7px;}
.wt-box > ul{height:380px; border:1px solid #dbdbdb; border-top: none !important;}
.wt-box li {width: 100%; height:180px;}
.wt-box_inner1 li, .wt-box_inner2 li {float:left; width: 101px;}
.wt-box_inner1 a, .wt-box_inner2 a {display: inline-block; padding-top: 126px; text-align: center; font-weight: bold; width:101px;}
.wt-box2 h4{height:40px;background:url(/templets/main/img/WT/bg_wt_boxtit2.gif) no-repeat; color:#fff; font-weight:bold; font-size:16px; padding-left:19px; padding-top:7px;}
.wt-box2 > ul{height:380px; border:1px solid #dbdbdb; border-top: none !important;}

.wt_kospi {height:380px; border:0px solid #dbdbdb; border-top: none !important;}
.wt_kospi_list {padding: 5px 16px 10px;}
.wt_rate {height:380px; border:1px solid #dbdbdb; border-top: none !important;padding: 5px 16px 10px;}
.wt_rate table {width: 100%;}
.wt_rate table tr {background: url(/templets/main/img/WT/img_sm_dotline.gif) repeat-x bottom;}
.wt_rate table th {text-align: left; color: #333; padding: 6px 0 9px; line-height: 140%;}
.wt_rate table td {text-align: right; letter-spacing: 0;}

/*------------------------------------*\
    해외비전산파생 시장소개
\*------------------------------------*/
.wt-Dtable table tr td { height:116px; }
.wt-Dtable table tr td.tdfirst1 {border-left: 0; background: url(/templets/main/img/WT/wt_D_img02.png) no-repeat 31px 14px;}
.wt-Dtable table tr td.tdfirst2 {border-left: 0; background: url(/templets/main/img/WT/wt_D_img02.png) no-repeat 37px -105px;}
.wt-Dtable table tr td.tdfirst3 {border-left: 0; background: url(/templets/main/img/WT/wt_D_img02.png) no-repeat 27px -220px;}
.wt-Dtable table tr td.tdfirst4 {border-left: 0; background: url(/templets/main/img/WT/wt_D_img02.png) no-repeat 32px -337px;}
.wt-Dtable table tr td.tdfirst5 {border-left: 0; background: url(/templets/main/img/WT/wt_D_img02.png) no-repeat 36px -459px;}

/*------------------------------------*\
    해외주식 거래절차 안내
\*------------------------------------*/
.wtStart_f {height: 308px; overflow: hidden; margin-bottom: 18px;}
.wtStart_f li {float: left; margin-right:13px;}
.wtStart_f li:last-child {margin-right: 0;}
.wtStart1 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon01.gif) no-repeat; }
.wtStart1 .L {top: 190px; left: 35px;}
.wtStart1 .R {top: 190px; left: 167px;}
.wtStart2 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon02.gif) no-repeat; }
.wtStart2 .L2 {top: 216px; left: 35px;}
.wtStart2 .R2 {top: 216px; left: 167px;}
.wtStart3 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon03.gif) no-repeat; }
.wtStart3 .C3 {top:220px; left:68px;}
.wtStart_s {height: 308px; overflow: hidden; margin-bottom: 18px;}
.wtStart_s li {float: left; margin-right:13px;}
.wtStart_s li:last-child {margin-right: 0;}
.wtStart4 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon04.gif) no-repeat; }
.wtStart4 .C4 {top:220px; left:100px;}
.wtStart5 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon05.gif) no-repeat; }
.wtStart5 .C5 {top:220px; left:102px;}
.wtStart6 {width: 311px; height: 308px; background: url(/templets/main/img/WT/wt_R_icon06.gif) no-repeat; }
.wtStart6 .C6 {top:126px; left:69px;}

.downW span{margin-left:5px;background:url(../img/common/icon_btn.gif) no-repeat -98px 2px;width:13px;height:18px;display: inline-block;}

/*------------------------------------*\
    해외주식 시장안내
\*------------------------------------*/
.wt_onoff {height:34px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; background: url(../img/common/bg_tab_line1.gif) repeat-x 0px 0px;}
.wt_onoff dt, .wt_onoff dd {height: 34px; float: left; line-height: 34px;}
.wt_onoff dt {width: 98px; border-right: 1px solid #ccc; text-align: center;}
.wt_onoff dt.last {border-left: 1px solid #ccc;}
.wt_onoff dd {width:72px;text-align: center;}
.wt_onoff input {margin-left: 5px; vertical-align: middle;}


/*
    해외주식 공통하단
*/
.wt-bottom{
    position: relative;
    margin-top: 50px;
}
h4.wt-bottom-title{
	color:#333; 
	font-size: 20px; 
	font-family: 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', 굴림, Gulim, sans-serif; 
	font-weight: 600; 
	letter-spacing: -1px; 
	background: none; 
	margin: 0 0 22px;
	padding-left: 30px;
}
.wt-bottom .wt-bottom-btn{
	position: absolute;
	top: 164px;
	right: 220px;
}

/* 파생양품 양도소득세 */
.wt-tax {padding:42px 0 0 0; border-bottom:0; background:url('/templets/main/img/WT/bg_tax.png') no-repeat 48px 12px}
.wt-tax h4 {margin-left:262px; font-family:'나눔고딕', NanumGothic, ng, 'NanumGothicWeb', 굴림, Gulim, sans-serif; line-height:37px}
.wt-tax h5 {margin:2px 0 0 259px}
.wt-tax ul {margin-top:44px; color:#666; letter-spacing:-1px}
.wt-tax li {padding-bottom:5px}

/* CFD 상품소개 */
.cfd-wrap{margin-top:15px;}
.panel .cfd-wrap p{margin:0;padding:0}
.cfd-wrap h4.title-2dep{margin-top:40px;}
.cfd-wrap h4.title-2dep.first{margin-top:0;}
.list-2dep .title-sub{display:block;font-size:16px;color:#020202;}
.list-2dep.type02 li{margin-bottom:12px;}
.list-2dep.type02 li.last{margin-bottom:0;}
.txtimp9{color:#0078ff !important;}
.txtimp10{color:#049f86 !important;}
.txt-point{font-size:20px;color:#000 !important;}
.table-default table th.tdgreen, .table-default table td.tdgreen{background:#e0f3ef;color:#000;}
.table-default table th.tdyellow, .table-default table td.tdyellow{background:#fffede;color:#000;}
.cfd-wrap .point-txt{font-size:20px;color:#000;margin:20px 0 40px !important;}
.cfd-link-wrap{position:relative;margin-top:40px;}
.cfd-link-wrap .link{display:block;position:absolute;top:164px;left:65px;}

/* CFD메뉴 리뉴얼(200306) ======================== */
.ico_wt01 {margin:0 15px 0 20px;width:50px;height:47px;display:inline-block;vertical-align:middle;}
.ico_wt01.n01 {background:url('/templets/main/img/WT/ico_cfd01.png') no-repeat center center;}
.ico_wt01.n02 {background:url('/templets/main/img/WT/ico_cfd02.png') no-repeat center center;}
.ico_wt01.n03 {background:url('/templets/main/img/WT/ico_cfd03.png') no-repeat center center;}
.ico_wt01.n04 {background:url('/templets/main/img/WT/ico_cfd04.png') no-repeat center center;}
.ico_wt01.n05 {background:url('/templets/main/img/WT/ico_cfd05.png') no-repeat center center;}
.ico_wt02_wrap li .dp_ib,
.ico_wt02_wrap li button {display:inline-block;margin:0 5px;vertical-align:middle;}
.ico_wt02 {/* margin:0 5px; */width:50px;height:49px;display:inline-block;vertical-align:middle;/* background:red; */}
.ico_wt02.n01 {background:url('/templets/main/img/WT/ico_1q_hts.png') no-repeat 0 0;}
.ico_wt02.n02 {background:url('/templets/main/img/WT/ico_1q_mts.png') no-repeat 0 0;}
.ico_q {margin:0 10px 0 0;width:28px;height:28px;display:inline-block;vertical-align:middle;background:url('/templets/main/img/WT/ico_q.png') no-repeat 0 0;}
.list-3dep.ico_wt02_wrap li {padding: 0 5px 0 30px;background-position: 20px 23px;}
.title-3dep .txt_normal {font-weight:normal;color:#666666;}
.vm {vertical-align:middle;}
.dp_ib {display:inline-block;}
.dp_b {display:block;}
.table-default.border2 table td,
.table-default.border2 table th {border-left:none !important;border-right:none !important;}
.cfd_customer {padding: 50px 0 50px 0;font-size:0;text-align:center;}
.cfd_customer .box {display:inline-block;width:400px;padding:20px 30px 20px 125px;font-size:14px;line-height:1.7;text-align:left;background:url('/templets/main/img/WT/ico_tel.png') no-repeat 30px center;border:1px solid #e5e5e5}
.cfd_customer .box span {display:inline-block;}
.cfd_customer .box .tel {color:#008268;font-size:16px;font-weight:bold;letter-spacing:normal;}
.cfd_customer .box .underline {padding-bottom:3px;font-size:15px;color:#333333;font-weight:bold;}
.btn.btn-default.md2.arr1 {position:relative;}
.btn.btn-default.md2.arr1:hover {text-decoration:none;}
.btn.btn-default.md2.arr1 span {position:absolute;right: 10px;top:50%;margin-top: -4px;dispaly: inline-block;width:5px;height:7px;background: url('/templets/main/img/WT/btn_arr1.gif') no-repeat 0 center;}
.btn.btn-default.md2.arr1 strong {position:absolute;left: 12px;top:50%;margin-top: -10px;width:19px;height:19px;line-height:19px;color:#fff;background:#007e65;border-radius:15px;}
.tit.md2.arr1 {position:relative;}
.tit.md2.arr1 strong {position:absolute;left:12px;top:50%;margin-top:-11px;width:19px;height:19px;line-height:19px;color:#fff;background:#007e65;border-radius:15px;}
.tit_q {font-size:16px;color:#333;font-weight:bold;}
.box-green1 .inner {padding:40px 35px;border:1px solid #dbdbdb;}
.box-green1 .inner2 {padding:0 0 0 40px}
.box-green1 .inner2 .btn.btn-default.md2.arr1 {margin-top:20px;line-height: 37px;padding: 0 30px 4px 40px;}
.box-green1 .line {height:4px; border:1px solid #015947; background:#04876d; }
.tit-num.type1 {position:relative;padding: 20px 0 20px 25px;border-top:2px solid #000;font-size:16px;color:#333;font-weight: bold;}
.tit-num.type1 .num {position:absolute;left:0;top:50%;margin-top: -10px;text-align:center;width:19px;height:19px;line-height:19px;color:#fff;background:#007e65;border-radius:15px;font-size: 14px;}
.tit-num.type2 {position:relative;padding: 7px 0 10px 20px;border-top:1px solid #e5e5e5;border-bottom:1px solid #f2f2f2;font-size:14px;color:#333;font-weight: bold;background: #f8f8f8 url(/templets/main/img/common/bu_arrow_3dep.gif) no-repeat 15px 17px !important;}
.tit-num.type2 * {vertical-align:middle;display:inline-block;}
.tit-num.type2 .num {display:inline-block;padding: 0 6px;color:#007e65;}
.tit-num.type2 .txt-guide {color:#555;font-size:12px;font-weight:normal;}
a.url-link { letter-spacing:normal; text-decoration:underline}
a.url-link:hover { color:#008268}
a.url-link span { display:inline-block; width:9px; height:16px; margin-left:5px; background:url(../img/common/icon_btn.gif) no-repeat -10px 3px}
.layer-pop1 {line-height:1.5;}
.list-3dep > li ul li.blt_none,
.list-3dep > li ul.blt_none li {background:none;padding-left: 0;}
.layout-wt .submainBoardList.mw245 li.isNew a {max-width:220px;}
.panel.cfd_notice,
.panel.cfd_notice h5.title-3dep,
.panel.cfd_notice p,
.panel.cfd_notice .list-3dep li {font-size:15px;line-height:1.5}
.panel.cfd_notice .list-3dep li {margin:10px 0;}
.hts_mts_btn {display:table;width:100%;}
.hts_mts_btn .ibox {position:relative;display:table-cell;width:50%;padding: 0 5px;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align: middle;}
.hts_mts_btn .ibox .ibox_in {position:relative;display:table-cell;border:1px solid #d1d1d1;padding-left:95px;color:#797979;line-height:1.5;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align: middle;width: 480px;height:80px;}
.hts_mts_btn.line3 .ibox .ibox_in {height:120px;}
.hts_mts_btn .ibox .ibox_in span,
.hts_mts_btn .ibox .ibox_in strong {display:inline-block;}
.hts_mts_btn .ibox .ibox_in strong {color:#333333}
.hts_mts_btn .ibox .ibox_in .ico_btn {position:absolute;left: 35px;top: 13px;}
.hts_mts_btn.line3 .ibox .ibox_in .ico_btn {top: 35px;}
.box-img2 {padding:25px 0;background:#ffffff; border:1px solid #e5e5e5; text-align:center; }

/* TradingView 소개 */
.info_tv .num-bullet1{font-size:15px}
.info_tv .num-bullet1 span{width:22px;height:22px;margin-right:6px;padding-top:0;background:url(/templets/main/img/common/bu_bg_num2.gif) no-repeat 0 0;font-size:13px;line-height:23px;vertical-align:text-top}