
#container {position:relative; width:960px; margin:0 auto; overflow:visible; padding-top:50px;}
#container:after {content:' '; clear:both; display:block; width:0; height:0; overflow:hidden;}


#container.w100p { width:100%; }
