/* common */
.hidden {visibility: visible !important}
#header {border-bottom:1px solid rgba(236,236,236,0.5) !important}
#submain {font-family:'나눔고딕', NanumGothic, ng, 'NanumGothicWeb','맑은 고딕', 'Malgun Gothic', dotum, 굴림, Gulim, sans-serif}



/* stock info */
.list-stock {position:relative;width:960px;height:50px;margin:40px auto 65px}
.list-stock .controller {display:block; position:absolute; top:0; right:2px; width:23px; height:100%; z-index:10}
.list-stock .controller button {display:block; width:23px; height:17px; font-size:0; line-height:0; text-indent:-9999px; border:0; background:url('/templets/main/img/MAIN/blt_stock.png') #fff no-repeat -16px 5px}
.list-stock .controller .btn-next {margin-top:2px; background-position:-16px -19px}
.list-stock ul {display:block; overflow:hidden; position:relative; width:100%; height:100%}
.list-stock li {display:block; position:absolute; top:100%; left:0; width:100%; height:36px; padding:4px 30px 0 16px; -webkit-transition:top 0.4s; transition:top 0.4s}
.list-stock li.active {top:0; -webkit-transition:top 0.8s ease-in-out; transition:top 0.8s ease-in-out}
.list-stock dl {display:block; width:304px; float:left}
.list-stock dt {display:inline-block; padding-top:0; font-size:18px; font-family:'Tahoma', '맑은 고딕', 'Malgun Gothic', 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif; font-weight:bold; color:#222; vertical-align:top}
.list-stock dd {display:inline-block; padding-left:20px; font-size:24px; font-weight:bold; color:#888; letter-spacing:-2px}
.list-stock .rate {display:inline-block; position:relative; margin-left:7px; padding-left:13px; font-size:22px}
.list-stock .rate:before {content:'-'; display:block; position:absolute; top:0; left:0; width:11px; height:11px}
.list-stock .goUp .rate {color:#ed686b}
.list-stock .goUp .rate:before {content:''; top:5px; background:url('/templets/main/img/MAIN/blt_stock.png') no-repeat 0 0}
.list-stock .goDown .rate {color:#5471db}
.list-stock .goDown .rate:before {content:''; top:5px; background:url('/templets/main/img/MAIN/blt_stock.png') no-repeat 0 100%}

/* main tab */
.maincon-info {position:relative; width:960px; margin:0 auto 80px; padding:72px 0 0 0; letter-spacing:0}
.maincon-info .bg-tab {display:block;position:absolute;top:0;left: 40px;width:160px;height:43px;border-radius:20px;background-color:#00aaaa;-webkit-transition:left 0.3s;transition:left 0.3s;}
.maincon-info .bg-tab:before {content:''; display:block; position:absolute; bottom:-7px; left:75px; width:13px; height:7px; background:url('/templets/main/img/MAIN/focus_edge.png') no-repeat 0 0}
.maincon-info .tab {display:block;position:absolute;top:0;width:160px;height:43px;padding-top:10px;font-size:20px;text-align:center;color:#333;/* border: 1px solid pink; */}
.maincon-info .tab .btn-tab {text-decoration:none;font-weight:bold;/* background: red; */}
.maincon-info .active .btn-tab {color:#fff; text-decoration:none}
.maincon-info .tab-contents {display:none}
.maincon-info .active .tab-contents {display:block}
.maincon-info .rate {display:inline-block; font-size:24px; font-weight:normal; font-family:'Tahoma', '맑은 고딕', 'Malgun Gothic', 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif; color:#888}
.maincon-info .rate.goUp {color:#ff5357}
.maincon-info .rate.goDown {color:#5471db}
.maincon-info .rate span {font-size:35px; font-weight:bold}
.maincon-info .list-focus li {position:relative; float:left; margin:0 0 20px 19px}
.maincon-info .list-focus .big {margin-left:0}
.maincon-info .list-focus a {display:block}
.maincon-info .list-focus img {vertical-align:top}
.maincon-info .list-focus .notice {width:307px; height:276px; background:url('/templets/main/img/MAIN/focus_notice.jpg') no-repeat 0 0; text-align:center}
.maincon-info .list-focus .notice a {display:block; width:100%; height:100%; padding:30px 15px 0; text-decoration:none}
.maincon-info .list-focus .notice .sub-title {display:inline-block; font-size:20px; color:#767676}
.maincon-info .list-focus .notice .date {display:table; margin:6px auto 22px; font-size:18px; color:#999}
.maincon-info .list-focus .notice .blt {clear:both; display:inline-block; padding:0 14px; font-size:15px; line-height:28px; border:2px solid #bfbfbf; color:#767676}
.maincon-info .list-fund {padding-bottom:10px}
.maincon-info .list-fund h3 {float:left; width:308px; height:276px; font-size:0; line-height:0; text-indent:-9999px; border:1px solid #ccc; background:url('/templets/main/img/MAIN/fund_best.png') no-repeat 0 0}
.maincon-info .list-fund li {position:relative; float:left; width:309px; height:276px; margin:0 0 15px 17px; border:1px solid #ccc; color:#222}
.maincon-info .list-fund li.rank-3 {width:308px; height:292px; margin:-16px 0 0 0; padding-top:17px; border-top:0; background-color:#fff}
.maincon-info .list-fund a {display:block; width:100%; height:100%; padding:32px 30px 0 39px; text-decoration:none}
.maincon-info .list-fund .blt {display:inline-block; height:22px; padding:0 12px 0 12px; font-size:14px; line-height:19px; border:1px solid #b5b5b5; border-radius:10px; color:#555}
.maincon-info .list-fund h4 {display:inline-block; font-size:18px; font-weight:bold; line-height:24px; padding-top:16px}
.maincon-info .list-fund .txt {display:inline-block; position:absolute; bottom:48px; left:43px; font-size:16px}
.maincon-info .list-fund .rate {position:absolute; bottom:82px; left:44px}
.maincon-info .list-etc {background:url('/templets/main/img/MAIN/etc_bg_temp.jpg') no-repeat 0 0}
.maincon-info .list-etc li {position:relative; float:left; width:308px; height:279px; margin:0 0 21px 18px}
.maincon-info .list-etc.temp li {height:571px; margin-left:18px}
.maincon-info .list-etc li.first {height:571px; margin-left:0}
.maincon-info .list-etc .big {width:634px}
.maincon-info .list-etc a {display:block; width:100%; height:100%; padding:35px 20px 0 32px; color:#fff; text-decoration:none}
.maincon-info .list-etc .blt {display:block;width: 70px;height:20px;font-size:14px;font-weight:bold;line-height:19px;border-radius:10px;background-color:#fff;color:#555;text-align:center;}
.maincon-info .list-etc .blt .small {font-size:12px; letter-spacing:-1px}
.maincon-info .list-etc h3 {display:inline-block; font-family:'나눔고딕', NanumGothic, ng, 'NanumGothicWeb','맑은 고딕', 'Malgun Gothic', dotum, 굴림, Gulim, sans-serif; font-size:24px; font-weight:normal !important; line-height:28px; padding-top:14px; color:#fff}
.maincon-info .list-etc .desc {display:inline-block; position:absolute; bottom:60px; left:31px; font-size:16px; line-height:24px}
.maincon-info .list-etc.temp .desc {bottom:auto; top:120px}

.maincon-info .list-pension li {position:relative; float:left; width:308px; height:490px; margin:0 0 22px 18px; border:1px solid #ccc}
.maincon-info .list-pension li:first-child {margin-left:0}
.maincon-info .list-pension li:before {content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:118px; background:url('/templets/main/img/MAIN/pension_bg.jpg') no-repeat 0 0}
.maincon-info .list-pension li.pension-2:before {background-position:0 -128px}
.maincon-info .list-pension li.pension-3:before {background-position:0 -256px}
.maincon-info .list-pension li.pension-4:before {background-position:0 -389px}
.maincon-info .list-pension a {display:block; width:100%; height:100%; padding:49px 0 0 35px; text-decoration:none}
.maincon-info .list-pension h3 {display:inline-block; padding-bottom:18px; font-size:24px; line-height:1.166666666; color:#008485}
.maincon-info .list-pension .sub-title {display:inline-block; position:relative; padding:0 0 23px 0; font-size:16px; color:#666}
.maincon-info .list-pension .sub-title:before {content:''; display:block; position:absolute; bottom:0; left:0; width:33px; height:2px; background-color:#008485}
.maincon-info .list-pension .rate {padding:80px 0 8px}
.maincon-info .list-pension .desc {position:absolute; top:230px; left:30px; font-size:14px; line-height:1.7142857; color:#949494; letter-spacing:-1px}

/* 해외주식 탭 UI 변경 (20220808) START => 연금대표펀드 탭 항목 제거 (211201)*/
.maincon-info .focus .tab, .maincon-info .bg-tab.active-focus {left: 40px;}
.maincon-info .fund .tab, .maincon-info .bg-tab.active-fund {left: 220px;}
.maincon-info .etc-product .tab, .maincon-info .bg-tab.active-etc {left: 761px;}
/* .maincon-info .pension-product .tab, .maincon-info .bg-tab.active-pension {left: 578px;} */
.maincon-info .etc-product.overseas .tab, .maincon-info .bg-tab.active-overseas {left: 400px;}
.maincon-info .etc-product.overseas{padding-bottom:21px;}
.maincon-info .list-overseas-2{margin-bottom:21px;}
.maincon-info .list-overseas-2 li a{display:block;text-decoration:none;}
.maincon-info .list-overseas-2 li.first {padding-top:17px;text-align:center;}
.maincon-info .list-overseas-2 li.first a h3 {font-size:26px;color:#000;line-height:35px;letter-spacing:-.46px;}
.maincon-info .list-overseas-2 li.first a h3 .overseas-purple{font-size:29px;color:#5244be;}
.maincon-info .list-overseas-2 li.first a p{margin-top:8px;color:#000;line-height:17px;}
.maincon-info .list-overseas-2 li.column{position:relative;height:217px;}
.maincon-info .list-overseas-2 li.column.overseas-column1{margin-top:39px;}
.maincon-info .list-overseas-2 li.column.overseas-column2{margin-top:20px;}
.maincon-info .list-overseas-2 li.column a{position:absolute;top:0;width:308px;height:217px;left:0;padding:25px 22px;background-color:#f7f9f9;transition:all .5s;}
.maincon-info .list-overseas-2 li.column a::before{content:'';display:block;position:absolute;transition:all .5s;}
.maincon-info .list-overseas-2 li.column a.on{top:-12px;transition:all .5s;}
.maincon-info .list-overseas-2 li.column a.on::before{opacity:.2;transition:all .5s;}
.maincon-info .list-overseas-2 li.column a.column-row2, .maincon-info .list-overseas-2 li.column a.column-row5{left:326px;}
.maincon-info .list-overseas-2 li.column a.column-row3, .maincon-info .list-overseas-2 li.column a.column-row6{left:652px;}
.maincon-info .list-overseas-2 li.column a.column-row1::before{right:23px;bottom:24px;width:96px;height:87px;background:url('/templets/main/img/MAIN/overseas_ic01.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a.column-row2::before{right:27px;bottom:21px;width:81px;height:116px;background:url('/templets/main/img/MAIN/overseas_ic02.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a.column-row3::before{right:21px;bottom:24px;width:93px;height:80px;background:url('/templets/main/img/MAIN/overseas_ic03.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a.column-row4::before{right:26px;bottom:24px;width:100px;height:80px;background:url('/templets/main/img/MAIN/overseas_ic04.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a.column-row5::before{right:26px;bottom:25px;width:84px;height:89px;background:url('/templets/main/img/MAIN/overseas_ic05.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a.column-row6::before{right:13px;bottom:25px;width:106px;height:76px;background:url('/templets/main/img/MAIN/overseas_ic06.png') no-repeat center;}
.maincon-info .list-overseas-2 li.column a .list-overseas-contwrap{position:relative;height:100%;}
.maincon-info .list-overseas-2 li h3{font-size:20px;color:#333;line-height:26px;letter-spacing:-.5px;}
.maincon-info .list-overseas-2 li.column .list-overseas-hash{margin-top:15px;}
.maincon-info .list-overseas-2 li.column .list-overseas-hash li{float:left;font-size:12px;margin-left:5px;padding:0px 7px;color:#858585;border-radius:10px;background:#e5eded;line-height:22px;}
.maincon-info .list-overseas-2 li.column .list-overseas-hash li:first-child{margin-left:0;}
.maincon-info .list-overseas-2 li.column a .con-detail{display:none;position:absolute;left:0px;right:0;bottom:0;color:#333;transition:all .5s;}
.maincon-info .list-overseas-2 li.column a.on .con-detail{display:block;animation:fadeIn .5s ease-in-out;-webkit-animation:fadeIn .5s ease-in-out;-ms-animation:fadeIn .5s ease-in-out;-moz-animation:fadeIn .5s ease-in-out;-o-animation:fadeIn .5s ease-in-out;}
.maincon-info .list-overseas-2 li.column a.column-row3 .con-detail{letter-spacing:-.6px;}


.maincon-board {position:relative; width:960px; margin:0 auto}
.maincon-board .notice {position:relative; width:468px; float:left}
.maincon-board .sub-title {display:block; padding:1px 0 10px 0; border-bottom:1px solid #696969}
.maincon-board .sub-title h2 {display:inline-block; font-size:18px; font-weight:bold; color:#333}
.maincon-board .sub-title .btn-more {display:block; position:absolute; top:0; right:0; width:23px; height:23px; font-size:0; line-height:0; text-indent:-9999px; background:url('/templets/main/img/MAIN/btn_more_board.png') no-repeat 50% 50%}
.maincon-board .no-data {display:block; padding:58px 0; font-size:18px; color:#666}
.maincon-board .list-notice {display:block; padding:18px 0}
.maincon-board .notice li {display:block; position:relative; padding-right:110px}
.maincon-board .notice li:before {content:''; display:block; position:absolute; top:14px; left:10px; width:2px; height:2px; background-color:#a8a8a8}
.maincon-board .notice li a {display:block; padding-left:21px; font-size:15px; line-height:2; color:#666}
.maincon-board .notice li .date {display:inline-block; position:absolute; top:0; right:18px; font-size:12px; font-family:'Tahoma', '맑은 고딕', 'Malgun Gothic', 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif; line-height:30px; color:#bbb; letter-spacing:0}
.maincon-board .event {position:relative; width:468px; float:right; padding-bottom:18px}
.maincon-board .event .sub-title {margin-bottom:19px}
.maincon-board .event .no-data {padding-top:39px}
.maincon-board .list-event {display:block; overflow:hidden; width:468px; height:120px}
.maincon-board .bx-controls {display:block; position:absolute; bottom:0; left:0; padding-left:66px}
.maincon-board .bx-pager-item {float:left}
.maincon-board .bx-pager-item a {display:block; width:14px; height:14px; margin-left:3px; font-size:0; line-height:0; text-indent:-9999px; background:url('/templets/main/img/MAIN/blt_event.png') #fff no-repeat 2px 2px}
.maincon-board .bx-pager-item a.active {background-position:-14px 2px}
.maincon-board .bx-controls-auto-item a {display:block; position:absolute; bottom:0; left:48px; width:14px; height:14px; font-size:0; line-height:0; text-indent:-9999px; background:url('/templets/main/img/MAIN/blt_event.png') #fff no-repeat -28px 2px}
.maincon-board .bx-controls-auto-item a.bx-stop {background-position:-43px 2px}
.maincon-board .bx-controls-auto-item a.active {display:none}

/* reserch center */
.reserch-center {position:relative; width:960px; margin:65px auto 104px}
.reserch-center h2 {display:inline-block; font-size:18px; font-weight:bold; color:#333}
.reserch-center .banner {position:absolute; top:-49px; left:195px; width:266px; height:71px; background:url('/templets/main/img/MAIN/icon_best_research.png') no-repeat 0 0; font-size:0; line-height:0; text-indent:-9999px}
.reserch-center .list-reserch {display:block; padding-top:9px}
.reserch-center .list-reserch li {display:block; float:left; width:237px; margin-left:4px}
.reserch-center .list-reserch li:first-child {margin-left:0}
.reserch-center .list-reserch a {display:block; text-decoration:none}
.reserch-center .list-reserch img {margin-bottom:22px}
.reserch-center .list-reserch h3 {display:inline-block; margin-right:7px; font-size:15px; font-weight:bold; color:#333}
.reserch-center .list-reserch .date {display:inline-block; font-size:12px; font-weight:bold; color:#999}
.reserch-center .list-reserch .title {display:block; width:95%; padding-top:1px; font-size:14px; color:#666}

/* banner */
.banner-account {position:relative; width:100%; height:300px; margin-bottom:-85px; background:url('/templets/main/img/MAIN/banner_create.jpg?ver20220714') no-repeat 50% 0 #f4f4f4; font-size:0; line-height:0; text-indent:-9999px}
.banner-account a {display:block;position:absolute;bottom:49px;right:50%;width:245px;height:50px;margin-right:-243px}

#linepop {position:fixed; width:100%; height:100px; background-color:#292321; display: none; /* margin-bottom:-3px;*/ z-index: 999; top: 0;}
#linepop .pop-inner {position:relative; width:960px; height:100%; margin:0 auto}
#linepop .pop-inner .pop-contents {display:block; position:relative; width:100%; height:100%; background: url(/templets/main/img/MAIN/mainpop_cont.png?20221208) no-repeat 50% 0; font-size:0; line-height:0; text-indent:-9999px}
#linepop .pop-inner .pop-contents a {display:block;width:100%;height:100%}
#linepop .pop-inner .pop-check {position:absolute; overflow:hidden; top:-9999px; left:0; width:0; height:0 }
#linepop .pop-inner .pop-close {display:block; position:absolute; top:10px; right:7px; width:29px; height:55px}
#linepop .pop-inner .pop-close button {display:block; width:100%; height:100%; border:0; background:url('/templets/main/img/MAIN/mainpop_btn_close_20171221.png') no-repeat 0 0; font-size:0; line-height:0; text-indent:-9999px}


/* stock */
.list-stock .stock-wrap li .sub-txt{display:block;font-size:12px;line-height:12px;font-weight:300;padding-top:2px;}

/* 210422 개인공매도 focus 배너 추가 */
.maincon-info .list-focus .bnr_stockoff{position:relative}
.maincon-info .list-focus .bnr_stockoff > a{overflow:hidden;position:absolute;left:50px;width:208px;height:40px;font-size:0;line-height:0;text-indent:-9999px}
.maincon-info .list-focus .bnr_stockoff .link_detail{top:199px;left:44px;width:100px;height:36px}
.maincon-info .list-focus .bnr_stockoff .link_kifin{top:427px}
.maincon-info .list-focus .bnr_stockoff .link_krx{top:482px}

/* 220706 파생상품 탭 추가 */
.maincon-info .derivative .tab, .maincon-info .bg-tab.active-derivative{left:581px;}
.derivative-btnwrap{position:absolute;top:25px;left:25px;z-index:1;}
.derivative-btn{position:relative;width:258px;background:rgba(255, 255, 255, 0.3);border-radius:28px;text-align:center;}
.derivative-btnwrap ul.derivative-btn li{float:left;width:50%;font-size:21px;font-weight:700;line-height:56px;}
.derivative-btnwrap ul.derivative-btn li a{display:block;color:#fff;text-decoration:none;cursor:pointer;}
.derivative-btnwrap ul.derivative-btn li.domestic.active a{color:#77abec;}
.derivative-btnwrap ul.derivative-btn li.overseas.active a{color:#5ab96e;}
.derivative-btnwrap ul.derivative-btn li::before{content:'';position:absolute;left:0;width:140px;height:56px;border-radius:28px;z-index:-1;}
.derivative-btnwrap ul.derivative-btn li.domestic.active::before{left:0px;background:#fff;}
.derivative-btnwrap ul.derivative-btn li.overseas.active::before{left:118px;background:#fff;}
.maincon-info .list-derivative{display:none;}
.maincon-info .list-derivative li {position:relative; float:left; width:308px; height:571px; margin:0 0 21px 18px;}
.maincon-info .list-derivative li.first {height:571px; margin-left:0;background:url(/templets/main/img/MAIN/derivative_section01.jpg) no-repeat left top;}
.maincon-info .list-derivative.overseas-ver li.first {background:url(/templets/main/img/MAIN/derivative_section02.jpg) no-repeat left top;}
.maincon-info .list-derivative li.column {height:571px;overflow:hidden;}
.maincon-info .list-derivative li.column .column-row1{height:276px;}
.maincon-info .list-derivative li.column .column-row2{height:276px;margin-top:19px;}
.maincon-info .list-derivative li.column a{position:relative;overflow:hidden;}
.maincon-info .list-derivative li.column a .con-detail{position:absolute;left:0;right:0;bottom:-89px;height:89px;transition:bottom 0.2s ease-out;}
.maincon-info .list-derivative li.column a:hover .con-detail{bottom:0;transition:bottom 0.2s ease-in;}
.maincon-info .list-derivative li.derivative-column1 .column-row1{background:url(/templets/main/img/MAIN/derivative_section01_1.jpg) no-repeat center;}
.maincon-info .list-derivative li.derivative-column2 .column-row1{background:url(/templets/main/img/MAIN/derivative_section01_2.jpg) no-repeat center;}
.maincon-info .list-derivative li.derivative-column1 .column-row2{background:url(/templets/main/img/MAIN/derivative_section01_3.jpg) no-repeat center;}
.maincon-info .list-derivative li.derivative-column2 .column-row2{background:url(/templets/main/img/MAIN/derivative_section01_4.jpg) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column1 .column-row1{background:url(/templets/main/img/MAIN/derivative_section02_1.jpg) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column2 .column-row1{background:url(/templets/main/img/MAIN/derivative_section02_2.jpg) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column1 .column-row2{background:url(/templets/main/img/MAIN/derivative_section02_3.jpg) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column2 .column-row2{background:url(/templets/main/img/MAIN/derivative_section02_4.jpg) no-repeat center;}
.maincon-info .list-derivative li.derivative-column1 .column-row1 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc01.png) no-repeat center;}
.maincon-info .list-derivative li.derivative-column2 .column-row1 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc02.png) no-repeat center;}
.maincon-info .list-derivative li.derivative-column1 .column-row2 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc03.png) no-repeat center;}
.maincon-info .list-derivative li.derivative-column2 .column-row2 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc04.png) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column1 .column-row1 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc05.png) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column2 .column-row1 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc06.png) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column1 .column-row2 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc07.png) no-repeat center;}
.maincon-info .list-derivative.overseas-ver li.derivative-column2 .column-row2 .con-detail{background:url(/templets/main/img/MAIN/derivative_desc08.png) no-repeat center;}
.maincon-info .list-derivative a {display:block; width:100%; height:100%;}
