.wrap {margin-left:-50px}
.iPad .wrap {margin-left:0}
.iPad .wrap, .wrap .wrap {margin-left:auto}
#sidebar {position:fixed; width:100px; top:0; bottom:0; right:0; min-height:860px; background-color:#fff; font-family:'맑은 고딕', 'Malgun Gothic', 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif; color:#333; z-index:10020; -webkit-transition:width 0.2s; transition:width 0.2s;padding-top:50px;}
#sidebar:before {content:''; display:block; position:absolute; top:0; bottom:0; left:-8px; width:8px; background:url('/templets/main/img/MAIN/bg_sidebar.png') repeat-y 0 0}
.iPad #sidebar {width:0}
#sidebar.opened {width:311px}

.sidebar a, .sidebar a:hover {text-decoration:none}
.sidebar .green {color:#008485}

.sidebar .open-sidebar-btn {display:block; position:absolute; top:219px; left:-29px; width:29px; height:52px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -203px -90px}
.sidebar.opened .open-sidebar-btn {background-position:-254px -90px}

.sidebar .kakao {height:111px; margin-bottom:19px; padding-top:31px; border-bottom:1px solid #e5e5e5}
.sidebar.opened .kakao {margin-bottom:0}
.sidebar .btn-kakao {display:block; position:relative; width:99px; padding-top:44px; font-size:13px; letter-spacing:-1px; color:#333; text-align:center}
.sidebar.opened .btn-kakao {margin-left:9px}
.sidebar .btn-kakao:before {content:''; display:block; position:absolute; top:0; left:29px; width:41px; height:37px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat 0 -90px}

.sidebar .expand, .sidebar.opened .fold {display:none}
.sidebar .fold, .sidebar.opened .expand {display:block}

.sidebar .btn-login {display:inline-block; position:relative; height:40px; margin-left:15px; padding-left:26px; line-height: 35px; text-decoration:none}
.sidebar .btn-login:before {content:''; display:block; position:absolute; top:10px; left:0; width:17px; height:17px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -51px -90px}

.sidebar .accodion {padding-top:3px}
.sidebar.opened .accodion {padding:0 26px 0 28px}

.sidebar .accordion-selector {height:40px; padding-left:11px; line-height:35px; white-space: nowrap}
.sidebar.opened .accordion-selector {position:relative; height:67px; padding-top:13px; padding-left:0}
.sidebar.opened .accordion-selector:first-child {padding-top:15px}
.sidebar.opened .accordion-selector:before {content:''; display:block; position:absolute; top:0; left:-28px; width:311px; height:1px; background-color:#e5e5e5}
.sidebar.opened .accordion-selector:first-child:before {background:none}
.sidebar.opened .accordion-title .expand {display:inline-block}
.sidebar .accordion-title .icon {display:inline-block; width:17px; height:17px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -51px -90px; vertical-align:middle}
.sidebar .accordion-title .icon.icon-login {margin:-1px 5px 0 4px}
.sidebar .accordion-title .icon.icon-assets {margin:2px 0 0 5px; width:19px; background-position:-51px -117px}
.sidebar.opened .accordion-title .icon.icon-assets {margin-top:5px;margin-right:2px}
.sidebar .accordion-title > a {display:inline-block; position:relative; width:231px; padding-left:0; font-size:14px; line-height:15px; color:#333; letter-spacing:-1px; vertical-align:middle}
.sidebar.opened .accodion .accordion-title > a {font-size:16px; color:#000}
.sidebar .accordion-selector .toggle {position:absolute; top:6px; right:0; width:17px; height:10px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -102px -90px; font-size:0; line-height:0; text-indent:-9999px}
.sidebar .accordion-selector #access-personal .toggle {top:2px}
.sidebar.opened .accordion-selector #access-personal .toggle.status-login {top:12px}
.sidebar .accordion-selector .toggle.active {background-position:-102px -117px}

.sidebar .accordion-panel {display:none; overflow:hidden}
.sidebar .accordion-panel.opened {display:block; position:relative; height:auto; margin-top:-9px; padding:0 0 24px}
.sidebar .btns .w120 {width:117px}
.sidebar .btns .btn {height:37px; margin:0 2px; border-radius:3px}
.sidebar .btns .btn-green {background:#008485; border:0}
.sidebar .btns .btn-gray {background:#707070; border:0}
.sidebar .btns .btn-gray:hover {color:#fff}
.sidebar .txt-login {display:inline-block; margin-top:-3px; vertical-align:top}
.sidebar .user-name {display:inline-block; line-height:1.3}
.sidebar .user-name span {display:inline-block; overflow:hidden}
.sidebar .user-name span:first-child {width:auto; max-width:160px}
.sidebar .user-info {padding-top:7px}
.sidebar .user-info dt {display:block; float:left; width:105px}
.sidebar .user-info dd {display:block; float:left; width:151px; min-height:30px; text-align:right; letter-spacing:-0.5px}
.sidebar .btn-detail {display:inline-block; position:relative; float:right; padding-right:12px; color:#999}
.sidebar .btn-detail:before {content:''; display:block; position:absolute; top:8px; right:2px; width:4px; height:8px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat 0 -137px}
.sidebar .my-balance {margin-bottom:4px; padding:11px 2px 7px 0; border-bottom:2px solid #b2dada}
.sidebar .my-balance .sidebar-balance {font-family:'Tahoma'; vertical-align:top}
.sidebar .my-balance .won {display:inline-block; margin-top:1px; vertical-align:top}
.sidebar .sidebar-box {clear:both; padding:16px 0 10px}
.sidebar .sidebar-box .sidebar-box-contents {overflow-x:hidden; overflow-y:auto; max-height:100px; margin-top:4px; padding:13px 18px 15px; border:1px solid #d2d2d2; border-radius:3px; background-color:#f7f7f7; line-height:1.5}

.sidebar .btn-favorite {display:inline-block; position:relative; height:40px; margin:4px 0 0 15px; padding-left:24px; line-height:35px; text-decoration:none}
.sidebar.opened .btn-favorite {display:block; height:68px; margin:0; padding:16px 0 0 58px; font-size:16px; border-top:1px solid #e5e5e5; color:#000}
.sidebar .btn-favorite:before {content:''; display:block; position:absolute; top:10px; left:0; width:18px; height:17px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -51px -142px}
.sidebar.opened .btn-favorite:before {top:26px; left:32px}
.sidebar.opened .btn-favorite .expand {display:inline}

.sidebar .btn-mymenu {display:inline-block; position:relative; height:40px; margin:4px 0 0 15px; padding-left:24px; line-height:35px; text-decoration:none}
.sidebar .btn-mymenu:before {content:''; display:block; position:absolute; top:8px; left:0; width:20px; height:19px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -51px -163px}
.sidebar.opened .btn-mymenu {display:block; height:68px; margin:0; padding:16px 0 0 58px; font-size:16px; border-top:1px solid #e5e5e5; color:#000}
.sidebar.opened .btn-mymenu:before {top:26px; left:32px}
.sidebar.opened .btn-mymenu .expand {display:inline}

.sidebar .side-list {position:relative; padding-top:23px}
.sidebar .btn-favorite + .side-list {padding-top:13px}
.sidebar.opened .side-list {padding:31px 0 0 15px; border-top:1px solid #e5e5e5}
.sidebar .side-list li {float:left; width:98px; margin:0 1px; text-align:center}
.sidebar.opened .side-list li {width:85px}
.sidebar.opened .side-list .list-txt li {width:auto}
.sidebar .side-list a {line-height:16px; color:#333}
.sidebar .side-list .list-icon a {display:block; position:relative; width:100%; margin-bottom:27px; padding-top:44px}
.sidebar.opened .side-list .list-icon a {margin-bottom:24px}
.sidebar .side-list .list-icon a:before {content:''; display:block; position:absolute; top:4px; left:50%; width:46px; height:35px; margin-left:-23px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat 0 0}
.sidebar .side-list .list-icon a:hover:after {content:''; display:block; position:absolute; top:0; left:50%; width:5px; height:5px; margin-left:-20px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -14px -137px}
.sidebar .side-list .list-icon a.link-1:hover:before {background-position:0 -45px}
.sidebar .side-list .list-icon a.link-2:before {background-position:-51px 0}
.sidebar .side-list .list-icon a.link-2:hover:before {background-position:-51px -45px}
.sidebar .side-list .list-icon a.link-3:before {background-position:-102px 0}
.sidebar .side-list .list-icon a.link-3:hover:before {background-position:-102px -45px}
.sidebar .side-list .list-icon a.link-4:before {background-position:-153px 0}
.sidebar .side-list .list-icon a.link-4:hover:before {background-position:-153px -45px}
.sidebar .side-list .list-icon a.link-5:before {background-position:-204px 0}
.sidebar .side-list .list-icon a.link-5:hover:before {background-position:-204px -45px}
.sidebar .side-list .list-icon .btn-more {display:block; position:absolute; bottom:-61px; left:33px; width:31px; height:31px; font-size:0; line-height:0; text-indent:-9999px; border:0; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -260px -4px}
.sidebar.opened .side-list .list-icon .btn-more {bottom:auto; top:123px; left:216px}
.sidebar.opened .side-list .list-txt {padding:7px 0 0 1px}
.sidebar .side-list .list-txt a {display:inline-block; margin-top:12px; padding-bottom:7px; border-bottom:1px solid #656565}
.sidebar.opened .side-list .list-txt a {margin-right:3px}
.sidebar .side-list .list-txt a:first-child {margin-top:0}
.sidebar .banner-chat {display:block; position:fixed; bottom:20px; right:110px; z-index:100; -webkit-transition:right 0.2s; transition:right 0.2s; padding-bottom:12px;}
.sidebar.opened .banner-chat, .iPad .sidebar.opened .banner-chat {right:320px}
.iPad .sidebar .banner-chat {right:0}
.sidebar .banner-chat .banner-chat-link {display:block; width:143px; height:122px; background:url('/templets/main/img/MAIN/side_banner_chat.png') no-repeat;}
.sidebar .banner-chat .banner-chat-link .txt {position:absolute; left:0; top:0; width:95px; height:51px; padding:4px 5px; text-align:center; color:#272b2b; font-size:13px; line-height:16px; letter-spacing:-2px; font-weight:bold}
.sidebar .banner-chat .banner-chat-link .txt.type1 {opacity:0}
.sidebar .banner-chat .banner-chat-box {display:none; position:absolute; bottom:0; right:-10px; width:365px; height:802px; border:1px solid #e6e6e6; background:#fff; overflow:hidden}
.sidebar .banner-chat .btn-chat-close{position:absolute;right:0;bottom:0;padding:0;font-family: 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif;font-size:11px;color:#a2a2a2;line-height:16px;background:transparent;}
.sidebar .banner-chat .btn-chat-close:after{content:'';display:inline-block;margin-left:4px;margin-top:3px;width:10px;height:10px;background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat;background-position:-100px -140px;vertical-align:top;}
.sidebar .j-go-top {display:inline-block; position:absolute; bottom:24px; left:30px; width:40px; padding-top:39px; text-align:center; color:#333}
.sidebar .j-go-top:before {content:''; display:block; position:absolute; top:0; left:5px; width:30px; height:30px; background:url('/templets/main/img/MAIN/blt_sidebar.png') no-repeat -152px -90px}
.quick-menu {padding:0; z-index:10021}
.quick-menu .ui-dialog-title {overflow:hidden; width:100%; height:80px; padding-top:26px; font-size:22px; border:1px solid #008485; font-weight:normal !important; border-radius:45px 45px 0 0; background-color:#008485; text-align:center; color:#fff; letter-spacing:1px}
.quick-menu.ui-dialog .ui-dialog-titlebar-close {display:block; position:absolute; top:26px; right:36px; width:34px; height:33px; font-size:0; line-height:0; text-indent:-9999px; background:url('/templets/main/img/MAIN/blt_quick.png') no-repeat 5px -415px}
.quick-menu.ui-dialog .ui-dialog-content {padding:32px 0 0 41px; font-family:'맑은 고딕', 'Malgun Gothic', 나눔고딕, NanumGothic, ng, 'NanumGothicWeb', dotum, 굴림, Gulim, sans-serif; background-color:#fff}
.ie8 .quick-menu.ui-dialog .ui-dialog-content {height:460px !important}
.quick-menu.ui-dialog .ui-dialog-content li {float:left; width:135px; padding-bottom:36px}
.quick-menu.ui-dialog .ui-dialog-content a {display:inline-block; position:relative; min-width:66px; padding-top:66px; font-size:16px; line-height:34px; color:#333}
.quick-menu.ui-dialog .ui-dialog-content a.multi {line-height:17px}
.quick-menu.ui-dialog .ui-dialog-content a:hover {text-decoration:none}
.quick-menu.ui-dialog .ui-dialog-content a:before {content:''; display:block; position:absolute; top:0; left:50%; width:68px; height:60px; margin-left:-34px; background:url('/templets/main/img/MAIN/blt_quick.png') no-repeat 0 0}
.quick-menu.ui-dialog .ui-dialog-content a:hover:after {content:''; display:block; position:absolute; top:5px; left:50%; width:8px; height:8px; margin-left:-36px; background:url('/templets/main/img/MAIN/blt_quick.png') no-repeat -44px -420px}
.quick-menu.ui-dialog .ui-dialog-content a.link-1:hover:before {background-position:0 -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-2:before {background-position:-78px 0}
.quick-menu.ui-dialog .ui-dialog-content a.link-2:hover:before {background-position:-78px -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-3:before {background-position:-156px 0}
.quick-menu.ui-dialog .ui-dialog-content a.link-3:hover:before {background-position:-156px -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-4:before {background-position:-234px 0}
.quick-menu.ui-dialog .ui-dialog-content a.link-4:hover:before {background-position:-234px -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-5:before {background-position:-312px 0}
.quick-menu.ui-dialog .ui-dialog-content a.link-5:hover:before {background-position:-312px -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-6:before {background-position:-390px 0}
.quick-menu.ui-dialog .ui-dialog-content a.link-6:hover:before {background-position:-390px -70px}
.quick-menu.ui-dialog .ui-dialog-content a.link-7:before {background-position:0 -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-7:hover:before {background-position:0 -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-8:before {background-position:-78px -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-8:hover:before {background-position:-78px -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-9:before {background-position:-156px -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-9:hover:before {background-position:-156px -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-10:before {background-position:-234px -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-10:hover:before {background-position:-234px -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-11:before {background-position:-312px -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-11:hover:before {background-position:-312px -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-12:before {background-position:-390px -140px}
.quick-menu.ui-dialog .ui-dialog-content a.link-12:hover:before {background-position:-390px -210px}
.quick-menu.ui-dialog .ui-dialog-content a.link-13:before {background-position:0 -280px}
.quick-menu.ui-dialog .ui-dialog-content a.link-13:hover:before {background-position:0 -350px}
.quick-menu.ui-dialog .ui-dialog-content a.link-14:before {background-position:-78px -280px}
.quick-menu.ui-dialog .ui-dialog-content a.link-14:hover:before {background-position:-78px -350px}
.quick-menu.ui-dialog .ui-dialog-content a.link-15:before {background-position:-156px -280px}
.quick-menu.ui-dialog .ui-dialog-content a.link-15:hover:before {background-position:-156px -350px}
.quick-menu.ui-dialog .ui-dialog-content a.link-16:before {background-position:-234px -280px}
.quick-menu.ui-dialog .ui-dialog-content a.link-16:hover:before {background-position:-234px -350px}