.card-body {
    display: flex;
    width: 88%;
    box-sizing: border-box;
    margin-top: 40px;
  }
  
  .card-product-guide-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -24px;
  }
  
  .card-product-guide-wrap * {
    box-sizing: border-box;
  }
  
  .card-product-guide-item {
    position: relative;
    width: calc(25% - 24px);
    height: 348px;
    margin-left: 24px;
    border-radius: 16px;
    padding: 40px 32px 0;
  }
  
  .card-product-guide-item .tit {
    font-size: 20px;
    line-height: 30px;
    color: #1A1D29;
    font-weight: 600;
  }
  
  .card-product-guide-item .tit-sub {
    font-size: 14px;
    line-height: 21px;
    color: #73757C;
    font-weight: 300;
    margin-top: 8px;
  }
  
  .card-product-guide-item .tag-wrap {
    margin-top: 20px;
  }
  
  .card-product-guide-item .tag-wrap p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #1A1D29;
    font-weight: 700;
  }
  
  .card-product-guide-item.guide01 {
    background: #ecfbf7;
  }
  
  .card-product-guide-item.guide01::after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .card-product-guide-item.guide02 {
    background: #fcfaed;
  }
  
  .card-product-guide-item.guide02::after {
    content: "";
    display: block;
    width: 128px;
    height: 129px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .card-product-guide-item.guide03 {
    background: #f6f6f6;
  }
  
  .card-product-guide-item.guide03::after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .card-product-guide-item.guide04 {
    background: #ecfbf7;
  }
  
  .card-product-guide-item.guide04::after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .cardicon { padding-left: 60px; }
  
  .cardicon2 { padding-left: 45px; padding-bottom: 40px; }

.card-body2 {
    display: flex;
    width: 88%;
    box-sizing: border-box;
    margin-top: 40px;
  }
  
  .card-product-guide2-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -24px;
  }
  
  .card-product-guide2-wrap * {
    box-sizing: border-box;
  }
  
  .card-product-guide2-item {
    position: relative;
    width: calc(35% - 24px);
    height: 348px;
    margin-left: 24px;
    border-radius: 16px;
    padding: 40px 32px 0;
  }
  
  .card-product-guide2-item .tit {
    font-size: 20px;
    line-height: 30px;
    color: #1A1D29;
    font-weight: 600;
  }
  
  .card-product-guide2-item .tit-sub {
    font-size: 14px;
    line-height: 21px;
    color: #73757C;
    font-weight: 300;
    margin-top: 8px;
  }
  
  .card-product-guide2-item .tag-wrap {
    margin-top: 20px;
  }
  
  .card-product-guide2-item .tag-wrap p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #1A1D29;
    font-weight: 700;
  }
  
  .card-product-guide2-item.guide01 {
    background: transparent;
  }
  
  .card-product-guide2-item.guide01::after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .card-product-guide2-item.guide02 {
    background: transparent
  }
  
  .card-product-guide2-item.guide02::after {
    content: "";
    display: block;
    width: 128px;
    height: 129px;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  
  .mint { color: #04b4b4; font-size: 25px; font-weight: 700; line-height: 1.3em;}