.numberInputDiv {
  display: inline-block;
  height: 26px;
}
.numberInputDiv input.w-input {
  width: 100px;
  margin-left: -1px;
  vertical-align: top;
}
.numberInputDiv .btnDecreaseNum,
.numberInputDiv .btnIncreaseNum {
  width: 26px;
  height: 26px;
  border-radius: 0;
  box-shadow: none;
  vertical-align: top;
}
.numberInputDiv .btnIncreaseNum {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -3px -3px;
  border-radius: 0;
  box-shadow: none;
  margin-left: -1px;
}
.numberInputDiv .btnIncreaseNum:hover {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -28px -3px;
  border-radius: 0;
  box-shadow: none;
}
.numberInputDiv .btnIncreaseNum:active {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -3px -3px;
  border-radius: 0;
  box-shadow: none;
}
.numberInputDiv .btnDecreaseNum {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -3px -28px;
  border-radius: 0;
  box-shadow: none;
}
.numberInputDiv .btnDecreaseNum:hover {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -28px -28px;
  border-radius: 0;
  box-shadow: none;
}
.numberInputDiv .btnDecreaseNum:active {
  background-image: url('/WEB-APP/webponent/number/number_sprite.png');
  background-position: -3px -28px;
  border-radius: 0;
  box-shadow: none;
}
