/* header 메인 메뉴 */

@charset "utf-8";
.templetWrap {
  background: url(../../images/고객지원/bg_body.gif) repeat-x;
}
.wrap {
  width: 100%;
  min-width: 1160px;
}
.bgSub01 {
  background: url("/common/img/bg_body.gif") repeat-x 0 0;
}
.bgSub02 {
  background: url("/common/img/bg_body.gif") repeat-x 0 0;
}
#header {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 111px;
  padding-top: 3px;
  font-family: "NanumGothicWeb", "맑은 고딕", "Malgun Gothic", "굴림", Gulim,
    sans-serif;
  line-height: 18px;
  border-bottom: 1px solid #ececec;
  z-index: 11;
}
#header .inner {
  position: relative;
  width: 960px;
  height: 50%;
  margin: 0 auto;
  z-index: 5;
}
#header .inner .logo {
  position: absolute;
  left: 0;
  top: 36px;
}
#header .memberlink {
  position: absolute;
  left: 214px;
  top: 21px;
}
#header .memberlink li {
  float: left;
  height: 22px;
  margin-left: -1px;
  padding: 0 7px;
  border: #ccc solid 1px;
  font-size: 12px;
  background-color: #fff;
}
#header .memberlink li a {
  text-decoration: none;
}
#header .memberlink li:first-child {
  border: #1a623c solid 1px;
  color: #fff;
  background: url(/common/img/btn_bg_login.gif) repeat-x;
}
#header .memberlink li span {
  color: #fff;
}
#header .toplink {
  position: absolute;
  right: 0;
  top: 20px;
}
#header .toplink > li {
  display: inline;
  padding: 0 0 0 6px;
}
.ie8 #header .toplink > li {
  background-position: 100% 0px;
}
#header .toplink > li:first-child {
  border-left: none;
}
#header .toplink > li a {
  display: inline-block;
  width: 65px;
  height: 22px;
  font-size: 13px;
  line-height: 21px;
  border-radius: 11px;
  background-color: #008485;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#header .toplink > li img {
  margin-top: -1px;
}
#header .sns-header {
  position: absolute;
  right: 75px;
  top: 20px; 
  padding-left: 7px;
}
#header .sns-header li {
  float: left;
  margin-left: 5px;
}
#header .topsrch {
  position: absolute;
  right: 150px;
  top: 20px;
  width: 134px;
  height: 25px;
  padding: 2px 0 0 2px;
  background: url(/common/img/bg_top_search.gif) no-repeat;
  z-index: 100;
}
#header .topsrch input {
  border: 0;
  vertical-align: top;
  margin-top: 2px;
}
#header .topsrch input[type="text"] {
  padding: 0;
  padding-left: 8px;
  border: none;
  background-color: transparent;
}
#header .inner h1 a {
  position: absolute;
  display: block;
  left: 0;
  top: 52px;
  width: 160px;
  height: 37px;
  background: url(../../pages/헤더푸터_files/logo2.png) no-repeat 0 0;
  font-size: 0;
  text-indent: -9999px;
  z-index: 100;
}
#gnb-area {
  position: relative;
  top: 40px;
  width: 100%;
  height: 42px;
}
#gnb-wrap {
  width: 960px;
  margin: 0 auto;
  z-index: 10010;
}
#gnb {
  margin: -29px 0 0 210px;
}
.ie #gnb {
  margin: -28px 0 0 210px;
}
